flows/atlantawatershed.json
[
    {
        "id": "6ce9491a.789d9",
        "type": "tab",
        "label": "Atlanta Watershed",
        "disabled": false,
        "info": ""
    },
    {
        "id": "638ddccf.a1722c",
        "type": "ui_template",
        "z": "6ce9491a.789d9",
        "group": "cbfa935f.551c9",
        "name": "GA Embedded Map",
        "order": 1,
        "width": "12",
        "height": "15",
        "format": "<div ng-bind-html=\"msg.payload | trusted\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "x": 830,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "ffdbcc68.47172",
        "type": "template",
        "z": "6ce9491a.789d9",
        "name": "Add Map to Dashboard",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<iframe src={{{payload.url}}} height=750px width=630px ></iframe>",
        "x": 590,
        "y": 100,
        "wires": [
            [
                "638ddccf.a1722c"
            ]
        ]
    },
    {
        "id": "3725f6cd.eb473a",
        "type": "comment",
        "z": "6ce9491a.789d9",
        "name": "One time - Add Map to Dashboard",
        "info": "",
        "x": 200,
        "y": 60,
        "wires": []
    },
    {
        "id": "8b70b4ba.252758",
        "type": "inject",
        "z": "6ce9491a.789d9",
        "name": "Init WorldMap",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 140,
        "y": 100,
        "wires": [
            [
                "eeaf5827.982788"
            ]
        ]
    },
    {
        "id": "eeaf5827.982788",
        "type": "function",
        "z": "6ce9491a.789d9",
        "name": "Set up /gawatermap",
        "func": "msg.payload = {};\nmsg.payload.url = \"/gawatermap\";\nmsg.payload.command = {};\n\nmsg.payload.command =   {\n                        layer:\"OSM Grey\",\n                        lat:41.0555556,\n                        lon:-74.1197222,\n                        zoom:5,\n                        map: { name: \"OSM Grey\" }\n                        };\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 360,
        "y": 100,
        "wires": [
            [
                "ffdbcc68.47172"
            ]
        ]
    },
    {
        "id": "43252386.b2cb24",
        "type": "worldmap",
        "z": "6ce9491a.789d9",
        "name": "",
        "lat": "33.748550",
        "lon": "-84.391502",
        "zoom": "11",
        "layer": "OSM",
        "cluster": "",
        "maxage": "",
        "usermenu": "show",
        "layers": "show",
        "panit": "false",
        "zoomlock": "false",
        "hiderightclick": "false",
        "coords": "none",
        "path": "gawatermap",
        "x": 1290,
        "y": 460,
        "wires": []
    },
    {
        "id": "35be25d4.8c17a2",
        "type": "http request",
        "z": "6ce9491a.789d9",
        "name": "USGS Utoy Creek water basin",
        "method": "GET",
        "ret": "obj",
        "paytoqs": false,
        "url": "https://labs.waterdata.usgs.gov/api/nldi/linked-data/nwissite/USGS-02336728/basin",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 670,
        "y": 400,
        "wires": [
            [
                "8c270de8.b01df8"
            ]
        ]
    },
    {
        "id": "2040d41.2f66e2c",
        "type": "debug",
        "z": "6ce9491a.789d9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1290,
        "y": 400,
        "wires": []
    },
    {
        "id": "90dcbd0b.35f9d",
        "type": "debug",
        "z": "6ce9491a.789d9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1290,
        "y": 220,
        "wires": []
    },
    {
        "id": "a6d6a03e.34221",
        "type": "comment",
        "z": "6ce9491a.789d9",
        "name": "Find your water basin - https://waterdata.usgs.gov/blog/nldi-intro/",
        "info": "",
        "x": 390,
        "y": 480,
        "wires": []
    },
    {
        "id": "7cdefc4.6f4b504",
        "type": "comment",
        "z": "6ce9491a.789d9",
        "name": "Find your stream - USGS",
        "info": "\nhttps://waterdata.usgs.gov/nwis/inventory?state_cd=nj&format=station_list&group_key=NONE&list_of_search_criteria=state_cd",
        "x": 270,
        "y": 380,
        "wires": []
    },
    {
        "id": "42f3effb.9a3c6",
        "type": "comment",
        "z": "6ce9491a.789d9",
        "name": "Zip code boundaries for each of the 50 states",
        "info": "Grab your town area map geojson from these\nmassive tables.\nhttps://github.com/OpenDataDE/State-zip-code-GeoJSON\n\nWould be cool if it looked like this:\nhttp://maps.huge.info/zip.htm",
        "x": 330,
        "y": 200,
        "wires": []
    },
    {
        "id": "d45120b4.469b68",
        "type": "ui_switch",
        "z": "6ce9491a.789d9",
        "name": "",
        "label": "Show Bellwood Quarry",
        "tooltip": "",
        "group": "d3dd8357.94cad8",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "fa-building",
        "oncolor": "maroon",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "fa-building",
        "offcolor": "grey",
        "x": 220,
        "y": 240,
        "wires": [
            [
                "937a0ab7.cde62"
            ]
        ]
    },
    {
        "id": "937a0ab7.cde62",
        "type": "switch",
        "z": "6ce9491a.789d9",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 450,
        "y": 240,
        "wires": [
            [
                "a9c8ab1c.c15078"
            ],
            [
                "ef9078c7.61643"
            ]
        ]
    },
    {
        "id": "60523be4.38d6bc",
        "type": "ui_switch",
        "z": "6ce9491a.789d9",
        "name": "",
        "label": "Show Utoy Creek Water Basin",
        "tooltip": "",
        "group": "d3dd8357.94cad8",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "fa-tint",
        "oncolor": "blue",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "fa-tint",
        "offcolor": "grey",
        "x": 230,
        "y": 420,
        "wires": [
            [
                "86d198fb.8b7898"
            ]
        ]
    },
    {
        "id": "b55f66bc.a76998",
        "type": "ui_switch",
        "z": "6ce9491a.789d9",
        "name": "",
        "label": "Show SF Peachtree Creek Water Basin",
        "tooltip": "",
        "group": "d3dd8357.94cad8",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "fa-tint",
        "oncolor": "salmon",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "fa-tint",
        "offcolor": "grey",
        "x": 220,
        "y": 1760,
        "wires": [
            [
                "377af107.f104be"
            ]
        ]
    },
    {
        "id": "377af107.f104be",
        "type": "switch",
        "z": "6ce9491a.789d9",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 450,
        "y": 1760,
        "wires": [
            [
                "86fee6c8.e539d8",
                "ee51f232.e5a1c8",
                "e311283e.59a3b",
                "e993daa0.72d8e",
                "db409295.91482",
                "2265eed3.0cf4ca"
            ],
            [
                "3d8dc762.fe68e8"
            ]
        ]
    },
    {
        "id": "86d198fb.8b7898",
        "type": "switch",
        "z": "6ce9491a.789d9",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 450,
        "y": 420,
        "wires": [
            [
                "35be25d4.8c17a2",
                "f6e9c333.7ff4b8"
            ],
            [
                "f61b939d.b7c2"
            ]
        ]
    },
    {
        "id": "ef9078c7.61643",
        "type": "change",
        "z": "6ce9491a.789d9",
        "name": "Hide Quarry",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"name\":\"BellwoodQuarry\",\"deleted\":true}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 950,
        "y": 260,
        "wires": [
            [
                "43252386.b2cb24"
            ]
        ]
    },
    {
        "id": "f61b939d.b7c2",
        "type": "change",
        "z": "6ce9491a.789d9",
        "name": "Utoy Creek Water Basin",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"command\":{\"hidelayer\":[\"HohokusWaterBasin\",\"HohokusBrook\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 990,
        "y": 440,
        "wires": [
            [
                "43252386.b2cb24"
            ]
        ]
    },
    {
        "id": "3d8dc762.fe68e8",
        "type": "change",
        "z": "6ce9491a.789d9",
        "name": "Hide SFPeachTree Creek Water Basin",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"command\":{\"hidelayer\":[\"SF1PeachTreeCreekWaterBasin\",\"SF1PeachTreeCreek\",\"SF2PeachTreeCreekWaterBasin\",\"SF2PeachTreeCreek\",\"SF3PeachTreeCreekWaterBasin\",\"SF3PeachTreeCreek\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1030,
        "y": 1780,
        "wires": [
            [
                "43252386.b2cb24"
            ]
        ]
    },
    {
        "id": "f169970.bc089e8",
        "type": "inject",
        "z": "6ce9491a.789d9",
        "name": "",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 90,
        "y": 160,
        "wires": [
            [
                "d45120b4.469b68",
                "60523be4.38d6bc",
                "b55f66bc.a76998",
                "b213fcbf.fb078",
                "91b2b6b.a7de248",
                "9cb4c8cc.028cd",
                "7c82b014.138238",
                "edb7d051.dd00a8",
                "ba7a869.189eb78",
                "eb62a172.f45208",
                "11d6b94.bc866c7",
                "cda05117.70ec08"
            ]
        ]
    },
    {
        "id": "8c270de8.b01df8",
        "type": "function",
        "z": "6ce9491a.789d9",
        "name": "Draw Water Basin map",
        "func": "// Add some simple-spec styling to this polygon area\nvar properties = { \n    \"stroke\" : \"blue\",\n    \"stroke-width\": 5,\n    \"fill\": \"#0000FF\",\n    \"fill-opacity\": 0.4\n}\nmsg.payload.features[0].properties = properties;\n\nmsg.payload = { name: \"HohokusWaterBasin\",\n                layer:\"HohokusWaterBasin\",\n                geojson:msg.payload\n              };    \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 980,
        "y": 400,
        "wires": [
            [
                "43252386.b2cb24",
                "2040d41.2f66e2c"
            ]
        ]
    },
    {
        "id": "5419c1a.6a27f4",
        "type": "change",
        "z": "6ce9491a.789d9",
        "name": "Draw Utoy Creek",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "payload.geojson",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.layer",
                "pt": "msg",
                "to": "HohokusBrook",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.name",
                "pt": "msg",
                "to": "HohokusBrook",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.color",
                "pt": "msg",
                "to": "steelblue",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.weight",
                "pt": "msg",
                "to": "3",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 970,
        "y": 360,
        "wires": [
            [
                "43252386.b2cb24"
            ]
        ]
    },
    {
        "id": "f6e9c333.7ff4b8",
        "type": "http request",
        "z": "6ce9491a.789d9",
        "name": "USGS Utoy Creek",
        "method": "GET",
        "ret": "obj",
        "paytoqs": false,
        "url": "https://labs.waterdata.usgs.gov/api/nldi/linked-data/nwissite/USGS-02336728/navigate/UT",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 630,
        "y": 360,
        "wires": [
            [
                "5419c1a.6a27f4"
            ]
        ]
    },
    {
        "id": "a830630e.e78608",
        "type": "ui_form",
        "z": "6ce9491a.789d9",
        "name": "",
        "label": "ZipCode - Water Quality Report",
        "group": "d3dd8357.94cad8",
        "order": 4,
        "width": "6",
        "height": "7",
        "options": [
            {
                "label": "Enter a ZipCode",
                "value": "ZipCode",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "ZipCode": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "",
        "x": 250,
        "y": 2280,
        "wires": [
            [
                "95c535ae.9c6f5",
                "d6efc3c9.696d2"
            ]
        ]
    },
    {
        "id": "cee87fe7.fa7888",
        "type": "http request",
        "z": "6ce9491a.789d9",
        "name": "GetWaterScore",
        "method": "POST",
        "ret": "obj",
        "paytoqs": false,
        "url": "https://aquagenuity.com/GetWaterScore",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 760,
        "y": 2300,
        "wires": [
            [
                "627a42af.dfe384",
                "11f783df.ea156c",
                "5fe26f4c.91512"
            ]
        ]
    },
    {
        "id": "627a42af.dfe384",
        "type": "debug",
        "z": "6ce9491a.789d9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 950,
        "y": 2340,
        "wires": []
    },
    {
        "id": "95c535ae.9c6f5",
        "type": "function",
        "z": "6ce9491a.789d9",
        "name": "Aquagenuity params",
        "func": "msg.payload = {\"auth\":{\"username\":\"removed\",\n                       \"password\":\"removed\"},\n               \"zipcode\":msg.payload.ZipCode} ;\nmsg.headers = {};\nmsg.headers['Content-Type'] = 'application/json';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 540,
        "y": 2300,
        "wires": [
            [
                "cee87fe7.fa7888"
            ]
        ]
    },
    {
        "id": "b831ce15.09448",
        "type": "ui_table",
        "z": "6ce9491a.789d9",
        "group": "d1237508.f6f1f8",
        "name": "Contaminants",
        "order": 4,
        "width": "11",
        "height": "15",
        "columns": [
            {
                "field": "toxin_type_name",
                "title": "Toxin",
                "width": "20%",
                "align": "left",
                "formatter": "html",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "sample_amount",
                "title": "Sample",
                "width": "15%",
                "align": "left",
                "formatter": "html",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "toxin_limit_value",
                "title": "EPA Limit",
                "width": "20%",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "toxin_limit_unit",
                "title": "Toxin Units",
                "width": "10%",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "health_risk_type_description",
                "title": "Health Risk",
                "width": "35%",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 1,
        "cts": true,
        "x": 1220,
        "y": 2300,
        "wires": [
            [
                "121611ef.a964f6"
            ]
        ]
    },
    {
        "id": "e2623a79.f2301",
        "type": "inject",
        "z": "6ce9491a.789d9",
        "name": "",
        "topic": "",
        "payload": "{\"ZipCode\":\"07450\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 290,
        "y": 2320,
        "wires": [
            [
                "95c535ae.9c6f5"
            ]
        ]
    },
    {
        "id": "11f783df.ea156c",
        "type": "change",
        "z": "6ce9491a.789d9",
        "name": "WaterScore",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.waterscore[0]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.name",
                "pt": "msg",
                "to": "Water Report",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.lat",
                "pt": "msg",
                "to": "40.979671",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.lon",
                "pt": "msg",
                "to": "-74.119179",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.icon",
                "pt": "msg",
                "to": "fa-tint",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.iconColor",
                "pt": "msg",
                "to": "blue",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 970,
        "y": 2260,
        "wires": [
            [
                "43252386.b2cb24",
                "484b28c3.7ec138"
            ]
        ]
    },
    {
        "id": "5fe26f4c.91512",
        "type": "function",
        "z": "6ce9491a.789d9",
        "name": "Contaminants",
        "func": "var toxins = msg.payload.contaminantDetails;\n\n// Highlight toxins that exceed EPA limits\nfor( var i=0; i < toxins.length; i++) {\n    if( parseFloat(toxins[i].sample_amount) > parseFloat(toxins[i].toxin_limit_value) ) {\n        toxins[i].toxin_type_name = \"<font color='red'><b>\"+toxins[i].toxin_type_name+\"</b></font>\";\n        toxins[i].sample_amount = \"<font color='red'><b>\"+toxins[i].sample_amount+\"</b></font>\";\n    }\n}\nmsg.payload = toxins;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 980,
        "y": 2300,
        "wires": [
            [
                "b831ce15.09448"
            ]
        ]
    },
    {
        "id": "484b28c3.7ec138",
        "type": "debug",
        "z": "6ce9491a.789d9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1210,
        "y": 2260,
        "wires": []
    },
    {
        "id": "121611ef.a964f6",
        "type": "change",
        "z": "6ce9491a.789d9",
        "name": "Health Risk details",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.health_risk_type_description",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Health Risk",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1230,
        "y": 2340,
        "wires": [
            [
                "611110ae.4d8398"
            ]
        ]
    },
    {
        "id": "611110ae.4d8398",
        "type": "ui_toast",
        "z": "6ce9491a.789d9",
        "position": "dialog",
        "displayTime": "10",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "",
        "name": "",
        "x": 1210,
        "y": 2380,
        "wires": [
            []
        ]
    },
    {
        "id": "d6efc3c9.696d2",
        "type": "change",
        "z": "6ce9491a.789d9",
        "name": "Reset Water Report",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"name\":\"Water Report\",\"deleted\":true}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 990,
        "y": 2220,
        "wires": [
            [
                "43252386.b2cb24"
            ]
        ]
    },
    {
        "id": "d8d571.bcbf3a9",
        "type": "inject",
        "z": "6ce9491a.789d9",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 660,
        "y": 2220,
        "wires": [
            [
                "d6efc3c9.696d2"
            ]
        ]
    },
    {
        "id": "780b13c3.1af2d4",
        "type": "http request",
        "z": "6ce9491a.789d9",
        "name": "USGS Internchment creek water basin",
        "method": "GET",
        "ret": "obj",
        "paytoqs": false,
        "url": "https://labs.waterdata.usgs.gov/api/nldi/linked-data/nwissite/USGS-02203700/basin",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 710,
        "y": 2100,
        "wires": [
            [
                "b9432ae1.37b59"
            ]
        ]
    },
    {
        "id": "b9432ae1.37b59",
        "type": "function",
        "z": "6ce9491a.789d9",
        "name": "Draw Water Basin map",
        "func": "// Add some simple-spec styling to this polygon area\nvar properties = { \n    \"stroke\" : \"orange\",\n    \"stroke-width\": 5,\n    \"fill\": \"orange\",\n    \"fill-opacity\": 0.4\n}\nmsg.payload.features[0].properties = properties;\n\nmsg.payload = { name: \"SugarCreekWaterBasin\",\n                layer:\"SugarCreekWaterBasin\",\n                geojson:msg.payload\n              };    \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1000,
        "y": 2100,
        "wires": [
            [
                "db8ea075.1e9b28",
                "43252386.b2cb24"
            ]
        ]
    },
    {
        "id": "db8ea075.1e9b28",
        "type": "debug",
        "z": "6ce9491a.789d9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1310,
        "y": 2100,
        "wires": []
    },
    {
        "id": "b213fcbf.fb078",
        "type": "ui_switch",
        "z": "6ce9491a.789d9",
        "name": "",
        "label": "Show Internchment Creek Water Basin",
        "tooltip": "",
        "group": "d3dd8357.94cad8",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "fa-tint",
        "oncolor": "orange",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "fa-tint",
        "offcolor": "grey",
        "x": 230,
        "y": 2120,
        "wires": [
            [
                "cca5eee.406ac9"
            ]
        ]
    },
    {
        "id": "cca5eee.406ac9",
        "type": "switch",
        "z": "6ce9491a.789d9",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 470,
        "y": 2120,
        "wires": [
            [
                "780b13c3.1af2d4",
                "62dab92c.7d9ae8"
            ],
            [
                "f96c4450.ff18f"
            ]
        ]
    },
    {
        "id": "f96c4450.ff18f",
        "type": "change",
        "z": "6ce9491a.789d9",
        "name": "Hide Sugar Creek Water Basin",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"command\":{\"hidelayer\":[\"SugarCreekWaterBasin\",\"SugarCreek\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1030,
        "y": 2140,
        "wires": [
            [
                "43252386.b2cb24"
            ]
        ]
    },
    {
        "id": "840d8f18.7fa7c8",
        "type": "change",
        "z": "6ce9491a.789d9",
        "name": "Draw Sugar Creek",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "payload.geojson",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.layer",
                "pt": "msg",
                "to": "SugarCreek",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.name",
                "pt": "msg",
                "to": "SugarCreek",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.color",
                "pt": "msg",
                "to": "steelblue",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.weight",
                "pt": "msg",
                "to": "3",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 990,
        "y": 2060,
        "wires": [
            [
                "43252386.b2cb24"
            ]
        ]
    },
    {
        "id": "62dab92c.7d9ae8",
        "type": "http request",
        "z": "6ce9491a.789d9",
        "name": "USGS Internchment Creek",
        "method": "GET",
        "ret": "obj",
        "paytoqs": false,
        "url": "https://labs.waterdata.usgs.gov/api/nldi/linked-data/nwissite/USGS-02203700/navigate/UT",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 680,
        "y": 2060,
        "wires": [
            [
                "840d8f18.7fa7c8"
            ]
        ]
    },
    {
        "id": "356f9a6a.eff6c6",
        "type": "http request",
        "z": "6ce9491a.789d9",
        "name": "USGS Proctor creek water basin",
        "method": "GET",
        "ret": "obj",
        "paytoqs": false,
        "url": "https://labs.waterdata.usgs.gov/api/nldi/linked-data/nwissite/USGS-02336526/basin",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 670,
        "y": 1900,
        "wires": [
            [
                "7ccf6905.378818"
            ]
        ]
    },
    {
        "id": "7ccf6905.378818",
        "type": "function",
        "z": "6ce9491a.789d9",
        "name": "Draw Water Basin map",
        "func": "// Add some simple-spec styling to this polygon area\nvar properties = { \n    \"stroke\" : \"aqua\",\n    \"stroke-width\": 5,\n    \"fill\": \"aqua\",\n    \"fill-opacity\": 0.4\n}\nmsg.payload.features[0].properties = properties;\n\nmsg.payload = { name: \"ProctorCreekWaterBasin\",\n                layer:\"ProctorCreekWaterBasin\",\n                geojson:msg.payload\n              };    \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 980,
        "y": 1900,
        "wires": [
            [
                "13133d09.1d729b",
                "43252386.b2cb24"
            ]
        ]
    },
    {
        "id": "13133d09.1d729b",
        "type": "debug",
        "z": "6ce9491a.789d9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1290,
        "y": 1900,
        "wires": []
    },
    {
        "id": "91b2b6b.a7de248",
        "type": "ui_switch",
        "z": "6ce9491a.789d9",
        "name": "",
        "label": "Show Proctor Creek Water Basin",
        "tooltip": "",
        "group": "d3dd8357.94cad8",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "fa-tint",
        "oncolor": "aqua",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "fa-tint",
        "offcolor": "grey",
        "x": 200,
        "y": 1920,
        "wires": [
            [
                "7fb4ab56.db71ac"
            ]
        ]
    },
    {
        "id": "7fb4ab56.db71ac",
        "type": "switch",
        "z": "6ce9491a.789d9",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 450,
        "y": 1920,
        "wires": [
            [
                "356f9a6a.eff6c6",
                "f5f87a15.42de18"
            ],
            [
                "c22312b0.a555a"
            ]
        ]
    },
    {
        "id": "c22312b0.a555a",
        "type": "change",
        "z": "6ce9491a.789d9",
        "name": "Hide Proctor Creek Water Basin",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"command\":{\"hidelayer\":[\"ProctorCreekWaterBasin\",\"ProctorCreek\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1010,
        "y": 1940,
        "wires": [
            [
                "43252386.b2cb24"
            ]
        ]
    },
    {
        "id": "f642dd0.30fbaa",
        "type": "change",
        "z": "6ce9491a.789d9",
        "name": "Draw Proctor Creek",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "payload.geojson",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.layer",
                "pt": "msg",
                "to": "ProctorCreek",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.name",
                "pt": "msg",
                "to": "ProctorCreek",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.color",
                "pt": "msg",
                "to": "steelblue",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.weight",
                "pt": "msg",
                "to": "3",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 970,
        "y": 1860,
        "wires": [
            [
                "43252386.b2cb24"
            ]
        ]
    },
    {
        "id": "f5f87a15.42de18",
        "type": "http request",
        "z": "6ce9491a.789d9",
        "name": "USGS Proctor Creek",
        "method": "GET",
        "ret": "obj",
        "paytoqs": false,
        "url": "https://labs.waterdata.usgs.gov/api/nldi/linked-data/nwissite/USGS-02336526/navigate/UT",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 640,
        "y": 1860,
        "wires": [
            [
                "f642dd0.30fbaa"
            ]
        ]
    },
    {
        "id": "e7c6ee6a.88c708",
        "type": "http request",
        "z": "6ce9491a.789d9",
        "name": "USGS NF PeachTree Creek water basin",
        "method": "GET",
        "ret": "obj",
        "paytoqs": false,
        "url": "https://labs.waterdata.usgs.gov/api/nldi/linked-data/nwissite/USGS-02336120/basin",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 700,
        "y": 1160,
        "wires": [
            [
                "84e750a0.e2879"
            ]
        ]
    },
    {
        "id": "84e750a0.e2879",
        "type": "function",
        "z": "6ce9491a.789d9",
        "name": "Draw Water Basin map",
        "func": "// Add some simple-spec styling to this polygon area\nvar properties = { \n    \"stroke\" : \"yellow\",\n    \"stroke-width\": 5,\n    \"fill\": \"yellow\",\n    \"fill-opacity\": 0.4\n}\nmsg.payload.features[0].properties = properties;\n\nmsg.payload = { name: \"NFPeachTreeCreekWaterBasin\",\n                layer:\"NFPeachTreeCreekWaterBasin\",\n                geojson:msg.payload\n              };    \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 980,
        "y": 1160,
        "wires": [
            [
                "d1407f3e.91cb38",
                "43252386.b2cb24"
            ]
        ]
    },
    {
        "id": "d1407f3e.91cb38",
        "type": "debug",
        "z": "6ce9491a.789d9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1290,
        "y": 1160,
        "wires": []
    },
    {
        "id": "9cb4c8cc.028cd",
        "type": "ui_switch",
        "z": "6ce9491a.789d9",
        "name": "",
        "label": "Show NF Peachtree Water Basin",
        "tooltip": "",
        "group": "d3dd8357.94cad8",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "fa-tint",
        "oncolor": "yellow",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "fa-tint",
        "offcolor": "grey",
        "x": 200,
        "y": 1180,
        "wires": [
            [
                "6cf9d803.7f7ca8"
            ]
        ]
    },
    {
        "id": "6cf9d803.7f7ca8",
        "type": "switch",
        "z": "6ce9491a.789d9",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 450,
        "y": 1180,
        "wires": [
            [
                "e7c6ee6a.88c708",
                "35c9ffde.284b3"
            ],
            [
                "3803f32e.3f6a34"
            ]
        ]
    },
    {
        "id": "3803f32e.3f6a34",
        "type": "change",
        "z": "6ce9491a.789d9",
        "name": "Hide NFPeachTree Creek Water Basin",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"command\":{\"hidelayer\":[\"NFPeachTreeCreekWaterBasin\",\"NFPeachTreeCreek\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1030,
        "y": 1200,
        "wires": [
            [
                "43252386.b2cb24"
            ]
        ]
    },
    {
        "id": "d4ea64bd.20646",
        "type": "change",
        "z": "6ce9491a.789d9",
        "name": "Draw NF PeachTree Creek",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "payload.geojson",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.layer",
                "pt": "msg",
                "to": "NFPeachTreeCreek",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.name",
                "pt": "msg",
                "to": "NFPeachTreeCreek",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.color",
                "pt": "msg",
                "to": "steelblue",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.weight",
                "pt": "msg",
                "to": "3",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1000,
        "y": 1120,
        "wires": [
            [
                "43252386.b2cb24"
            ]
        ]
    },
    {
        "id": "35c9ffde.284b3",
        "type": "http request",
        "z": "6ce9491a.789d9",
        "name": "USGS NF PeachTree Creek",
        "method": "GET",
        "ret": "obj",
        "paytoqs": false,
        "url": "https://labs.waterdata.usgs.gov/api/nldi/linked-data/nwissite/USGS-02336120/navigate/UT",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 660,
        "y": 1120,
        "wires": [
            [
                "d4ea64bd.20646"
            ]
        ]
    },
    {
        "id": "86fee6c8.e539d8",
        "type": "http request",
        "z": "6ce9491a.789d9",
        "name": "USGS SF2 PeachTree Creek water basin",
        "method": "GET",
        "ret": "obj",
        "paytoqs": false,
        "url": "https://labs.waterdata.usgs.gov/api/nldi/linked-data/nwissite/USGS-023362075/basin",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 700,
        "y": 1660,
        "wires": [
            [
                "8b8692b8.a6f2a8"
            ]
        ]
    },
    {
        "id": "8b8692b8.a6f2a8",
        "type": "function",
        "z": "6ce9491a.789d9",
        "name": "Draw Water Basin map",
        "func": "// Add some simple-spec styling to this polygon area\nvar properties = { \n    \"stroke\" : \"salmon\",\n    \"stroke-width\": 5,\n    \"fill\": \"salmon\",\n    \"fill-opacity\": 0.4\n}\nmsg.payload.features[0].properties = properties;\n\nmsg.payload = { name: \"SF2PeachTreeCreekWaterBasin\",\n                layer:\"SF2PeachTreeCreekWaterBasin\",\n                geojson:msg.payload\n              };    \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 980,
        "y": 1660,
        "wires": [
            [
                "a9c0ed58.fd66f",
                "43252386.b2cb24"
            ]
        ]
    },
    {
        "id": "a9c0ed58.fd66f",
        "type": "debug",
        "z": "6ce9491a.789d9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1290,
        "y": 1660,
        "wires": []
    },
    {
        "id": "3b22dd6e.3cc87a",
        "type": "change",
        "z": "6ce9491a.789d9",
        "name": "Draw SFPeachTree Creek",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "payload.geojson",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.layer",
                "pt": "msg",
                "to": "SF2PeachTreeCreek",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.name",
                "pt": "msg",
                "to": "SF2PeachTreeCreek",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.color",
                "pt": "msg",
                "to": "steelblue",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.weight",
                "pt": "msg",
                "to": "3",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1000,
        "y": 1620,
        "wires": [
            [
                "43252386.b2cb24"
            ]
        ]
    },
    {
        "id": "ee51f232.e5a1c8",
        "type": "http request",
        "z": "6ce9491a.789d9",
        "name": "USGS SF2 PeachTree Creek",
        "method": "GET",
        "ret": "obj",
        "paytoqs": false,
        "url": "https://labs.waterdata.usgs.gov/api/nldi/linked-data/nwissite/USGS-023362075/navigate/UT",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 660,
        "y": 1620,
        "wires": [
            [
                "3b22dd6e.3cc87a"
            ]
        ]
    },
    {
        "id": "e311283e.59a3b",
        "type": "http request",
        "z": "6ce9491a.789d9",
        "name": "USGS SF1 PeachTree Creek water basin",
        "method": "GET",
        "ret": "obj",
        "paytoqs": false,
        "url": "https://labs.waterdata.usgs.gov/api/nldi/linked-data/nwissite/USGS-02336152/basin",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 700,
        "y": 1580,
        "wires": [
            [
                "a2d5762b.9602b"
            ]
        ]
    },
    {
        "id": "a2d5762b.9602b",
        "type": "function",
        "z": "6ce9491a.789d9",
        "name": "Draw Water Basin map",
        "func": "// Add some simple-spec styling to this polygon area\nvar properties = { \n    \"stroke\" : \"salmon\",\n    \"stroke-width\": 5,\n    \"fill\": \"salmon\",\n    \"fill-opacity\": 0.4\n}\nmsg.payload.features[0].properties = properties;\n\nmsg.payload = { name: \"SF1PeachTreeCreekWaterBasin\",\n                layer:\"SF1PeachTreeCreekWaterBasin\",\n                geojson:msg.payload\n              };    \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 980,
        "y": 1580,
        "wires": [
            [
                "deaed5dc.af2ac",
                "43252386.b2cb24"
            ]
        ]
    },
    {
        "id": "deaed5dc.af2ac",
        "type": "debug",
        "z": "6ce9491a.789d9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1290,
        "y": 1580,
        "wires": []
    },
    {
        "id": "281d18e8.d09928",
        "type": "change",
        "z": "6ce9491a.789d9",
        "name": "Draw SFPeachTree Creek",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "payload.geojson",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.layer",
                "pt": "msg",
                "to": "SF1PeachTreeCreek",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.name",
                "pt": "msg",
                "to": "SF1PeachTreeCreek",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.color",
                "pt": "msg",
                "to": "steelblue",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.weight",
                "pt": "msg",
                "to": "3",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1000,
        "y": 1540,
        "wires": [
            [
                "43252386.b2cb24"
            ]
        ]
    },
    {
        "id": "e993daa0.72d8e",
        "type": "http request",
        "z": "6ce9491a.789d9",
        "name": "USGS SF1 PeachTree Creek",
        "method": "GET",
        "ret": "obj",
        "paytoqs": false,
        "url": "https://labs.waterdata.usgs.gov/api/nldi/linked-data/nwissite/USGS-02336152/navigate/UT",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 660,
        "y": 1540,
        "wires": [
            [
                "281d18e8.d09928"
            ]
        ]
    },
    {
        "id": "db409295.91482",
        "type": "http request",
        "z": "6ce9491a.789d9",
        "name": "USGS SF3 PeachTree Creek water basin",
        "method": "GET",
        "ret": "obj",
        "paytoqs": false,
        "url": "https://labs.waterdata.usgs.gov/api/nldi/linked-data/nwissite/USGS-02336240/basin",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 700,
        "y": 1740,
        "wires": [
            [
                "fc23025.2cce08"
            ]
        ]
    },
    {
        "id": "fc23025.2cce08",
        "type": "function",
        "z": "6ce9491a.789d9",
        "name": "Draw Water Basin map",
        "func": "// Add some simple-spec styling to this polygon area\nvar properties = { \n    \"stroke\" : \"salmon\",\n    \"stroke-width\": 5,\n    \"fill\": \"salmon\",\n    \"fill-opacity\": 0.4\n}\nmsg.payload.features[0].properties = properties;\n\nmsg.payload = { name: \"SF3PeachTreeCreekWaterBasin\",\n                layer:\"SF3PeachTreeCreekWaterBasin\",\n                geojson:msg.payload\n              };    \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 980,
        "y": 1740,
        "wires": [
            [
                "d91f0517.8b1aa8",
                "43252386.b2cb24"
            ]
        ]
    },
    {
        "id": "d91f0517.8b1aa8",
        "type": "debug",
        "z": "6ce9491a.789d9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1290,
        "y": 1740,
        "wires": []
    },
    {
        "id": "922da9f8.5f3e38",
        "type": "change",
        "z": "6ce9491a.789d9",
        "name": "Draw SFPeachTree Creek",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "payload.geojson",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.layer",
                "pt": "msg",
                "to": "SF3PeachTreeCreek",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.name",
                "pt": "msg",
                "to": "SF3PeachTreeCreek",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.color",
                "pt": "msg",
                "to": "steelblue",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.weight",
                "pt": "msg",
                "to": "3",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1000,
        "y": 1700,
        "wires": [
            [
                "43252386.b2cb24"
            ]
        ]
    },
    {
        "id": "2265eed3.0cf4ca",
        "type": "http request",
        "z": "6ce9491a.789d9",
        "name": "USGS SF3 PeachTree Creek",
        "method": "GET",
        "ret": "obj",
        "paytoqs": false,
        "url": "https://labs.waterdata.usgs.gov/api/nldi/linked-data/nwissite/USGS-02336240/navigate/UT",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 660,
        "y": 1700,
        "wires": [
            [
                "922da9f8.5f3e38"
            ]
        ]
    },
    {
        "id": "7c82b014.138238",
        "type": "ui_switch",
        "z": "6ce9491a.789d9",
        "name": "",
        "label": "Show Nancy Creek Water Basin",
        "tooltip": "",
        "group": "d3dd8357.94cad8",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "fa-tint",
        "oncolor": "firebrick",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "fa-tint",
        "offcolor": "grey",
        "x": 190,
        "y": 1460,
        "wires": [
            [
                "71882bdc.65ad74"
            ]
        ]
    },
    {
        "id": "71882bdc.65ad74",
        "type": "switch",
        "z": "6ce9491a.789d9",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 450,
        "y": 1460,
        "wires": [
            [
                "b0be0bc2.a6e5a8",
                "907a30af.59bca"
            ],
            [
                "e0715753.950e1"
            ]
        ]
    },
    {
        "id": "e0715753.950e1",
        "type": "change",
        "z": "6ce9491a.789d9",
        "name": "Hide Nancy Creek Water Basin",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"command\":{\"hidelayer\":[\"NancyCreekWaterBasin\",\"NancyCreek\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1010,
        "y": 1480,
        "wires": [
            [
                "43252386.b2cb24"
            ]
        ]
    },
    {
        "id": "b0be0bc2.a6e5a8",
        "type": "http request",
        "z": "6ce9491a.789d9",
        "name": "USGS Nancy Creek water basin",
        "method": "GET",
        "ret": "obj",
        "paytoqs": false,
        "url": "https://labs.waterdata.usgs.gov/api/nldi/linked-data/nwissite/USGS-02336410/basin",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 670,
        "y": 1440,
        "wires": [
            [
                "4a0483c7.342f74"
            ]
        ]
    },
    {
        "id": "4a0483c7.342f74",
        "type": "function",
        "z": "6ce9491a.789d9",
        "name": "Draw Water Basin map",
        "func": "// Add some simple-spec styling to this polygon area\nvar properties = { \n    \"stroke\" : \"firebrick\",\n    \"stroke-width\": 5,\n    \"fill\": \"firebrick\",\n    \"fill-opacity\": 0.4\n}\nmsg.payload.features[0].properties = properties;\n\nmsg.payload = { name: \"NancyCreekWaterBasin\",\n                layer:\"NancyCreekWaterBasin\",\n                geojson:msg.payload\n              };    \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 980,
        "y": 1440,
        "wires": [
            [
                "bb7a2051.9b645",
                "43252386.b2cb24"
            ]
        ]
    },
    {
        "id": "bb7a2051.9b645",
        "type": "debug",
        "z": "6ce9491a.789d9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1290,
        "y": 1440,
        "wires": []
    },
    {
        "id": "8cc5b572.bb8988",
        "type": "change",
        "z": "6ce9491a.789d9",
        "name": "Draw Nancy Creek",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "payload.geojson",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.layer",
                "pt": "msg",
                "to": "NancyCreek",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.name",
                "pt": "msg",
                "to": "NancyCreek",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.color",
                "pt": "msg",
                "to": "steelblue",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.weight",
                "pt": "msg",
                "to": "3",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 970,
        "y": 1400,
        "wires": [
            [
                "43252386.b2cb24"
            ]
        ]
    },
    {
        "id": "907a30af.59bca",
        "type": "http request",
        "z": "6ce9491a.789d9",
        "name": "USGS Nancy Creek",
        "method": "GET",
        "ret": "obj",
        "paytoqs": false,
        "url": "https://labs.waterdata.usgs.gov/api/nldi/linked-data/nwissite/USGS-02336410/navigate/UT",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 640,
        "y": 1400,
        "wires": [
            [
                "8cc5b572.bb8988"
            ]
        ]
    },
    {
        "id": "edb7d051.dd00a8",
        "type": "ui_switch",
        "z": "6ce9491a.789d9",
        "name": "",
        "label": "Show Long Island Creek Water Basin",
        "tooltip": "",
        "group": "d3dd8357.94cad8",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "fa-tint",
        "oncolor": "orchid",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "fa-tint",
        "offcolor": "grey",
        "x": 210,
        "y": 1320,
        "wires": [
            [
                "3b989de9.db2342"
            ]
        ]
    },
    {
        "id": "3b989de9.db2342",
        "type": "switch",
        "z": "6ce9491a.789d9",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 450,
        "y": 1320,
        "wires": [
            [
                "3990c918.716fc6",
                "419b97b7.d36098"
            ],
            [
                "77ab0fa0.5fa768"
            ]
        ]
    },
    {
        "id": "77ab0fa0.5fa768",
        "type": "change",
        "z": "6ce9491a.789d9",
        "name": "Hide Long Island Creek Water Basin",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"command\":{\"hidelayer\":[\"LongIslandCreekWaterBasin\",\"LongIslandCreek\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1030,
        "y": 1340,
        "wires": [
            [
                "43252386.b2cb24"
            ]
        ]
    },
    {
        "id": "3990c918.716fc6",
        "type": "http request",
        "z": "6ce9491a.789d9",
        "name": "USGS Long Island Creek water basin",
        "method": "GET",
        "ret": "obj",
        "paytoqs": false,
        "url": "https://labs.waterdata.usgs.gov/api/nldi/linked-data/nwissite/USGS-02335880/basin",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 690,
        "y": 1300,
        "wires": [
            [
                "126a3baf.4ec114"
            ]
        ]
    },
    {
        "id": "126a3baf.4ec114",
        "type": "function",
        "z": "6ce9491a.789d9",
        "name": "Draw Water Basin map",
        "func": "// Add some simple-spec styling to this polygon area\nvar properties = { \n    \"stroke\" : \"orchid\",\n    \"stroke-width\": 5,\n    \"fill\": \"orchid\",\n    \"fill-opacity\": 0.4\n}\nmsg.payload.features[0].properties = properties;\n\nmsg.payload = { name: \"LongIslandCreekWaterBasin\",\n                layer:\"LongIslandCreekWaterBasin\",\n                geojson:msg.payload\n              };    \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 980,
        "y": 1300,
        "wires": [
            [
                "6c7d680c.bd0d68",
                "43252386.b2cb24"
            ]
        ]
    },
    {
        "id": "6c7d680c.bd0d68",
        "type": "debug",
        "z": "6ce9491a.789d9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1290,
        "y": 1300,
        "wires": []
    },
    {
        "id": "afa4617c.c16cc",
        "type": "change",
        "z": "6ce9491a.789d9",
        "name": "Draw Long Island Creek",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "payload.geojson",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.layer",
                "pt": "msg",
                "to": "LongIslandCreek",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.name",
                "pt": "msg",
                "to": "LongIslandCreek",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.color",
                "pt": "msg",
                "to": "steelblue",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.weight",
                "pt": "msg",
                "to": "3",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 990,
        "y": 1260,
        "wires": [
            [
                "43252386.b2cb24"
            ]
        ]
    },
    {
        "id": "419b97b7.d36098",
        "type": "http request",
        "z": "6ce9491a.789d9",
        "name": "USGS Long Island Creek",
        "method": "GET",
        "ret": "obj",
        "paytoqs": false,
        "url": "https://labs.waterdata.usgs.gov/api/nldi/linked-data/nwissite/USGS-02335880/navigate/UT",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 650,
        "y": 1260,
        "wires": [
            [
                "afa4617c.c16cc"
            ]
        ]
    },
    {
        "id": "a9c8ab1c.c15078",
        "type": "change",
        "z": "6ce9491a.789d9",
        "name": "Quarry",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "payload.name",
                "pt": "msg",
                "to": "BellwoodQuarry",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.lat",
                "pt": "msg",
                "to": "33.7698857",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.lon",
                "pt": "msg",
                "to": "-84.5551718",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.icon",
                "pt": "msg",
                "to": "fa-tint",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.iconColor",
                "pt": "msg",
                "to": "blue",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 930,
        "y": 220,
        "wires": [
            [
                "43252386.b2cb24",
                "90dcbd0b.35f9d"
            ]
        ]
    },
    {
        "id": "447bf88b.6c91e8",
        "type": "http request",
        "z": "6ce9491a.789d9",
        "name": "USGS South River water basin",
        "method": "GET",
        "ret": "obj",
        "paytoqs": false,
        "url": "https://labs.waterdata.usgs.gov/api/nldi/linked-data/nwissite/USGS-02203603/basin",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 670,
        "y": 1020,
        "wires": [
            [
                "cde39a17.efd268"
            ]
        ]
    },
    {
        "id": "cde39a17.efd268",
        "type": "function",
        "z": "6ce9491a.789d9",
        "name": "Draw Water Basin map",
        "func": "// Add some simple-spec styling to this polygon area\nvar properties = { \n    \"stroke\" : \"limegreen\",\n    \"stroke-width\": 5,\n    \"fill\": \"limegreen\",\n    \"fill-opacity\": 0.4\n}\nmsg.payload.features[0].properties = properties;\n\nmsg.payload = { name: \"SouthRiverWaterBasin\",\n                layer:\"SouthRiverWaterBasin\",\n                geojson:msg.payload\n              };    \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 980,
        "y": 1020,
        "wires": [
            [
                "cc660dd3.189c38",
                "43252386.b2cb24"
            ]
        ]
    },
    {
        "id": "cc660dd3.189c38",
        "type": "debug",
        "z": "6ce9491a.789d9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1290,
        "y": 1020,
        "wires": []
    },
    {
        "id": "ba7a869.189eb78",
        "type": "ui_switch",
        "z": "6ce9491a.789d9",
        "name": "",
        "label": "Show South River Water Basin",
        "tooltip": "",
        "group": "d3dd8357.94cad8",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "fa-tint",
        "oncolor": "limegreen",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "fa-tint",
        "offcolor": "grey",
        "x": 190,
        "y": 1040,
        "wires": [
            [
                "69fc41bc.b32a8"
            ]
        ]
    },
    {
        "id": "69fc41bc.b32a8",
        "type": "switch",
        "z": "6ce9491a.789d9",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 450,
        "y": 1040,
        "wires": [
            [
                "447bf88b.6c91e8",
                "9ac64d87.90cf28"
            ],
            [
                "9427d18f.373a88"
            ]
        ]
    },
    {
        "id": "9427d18f.373a88",
        "type": "change",
        "z": "6ce9491a.789d9",
        "name": "Hide South River Water Basin",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"command\":{\"hidelayer\":[\"SouthRiverWaterBasin\",\"SouthRiver\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1010,
        "y": 1060,
        "wires": [
            [
                "43252386.b2cb24"
            ]
        ]
    },
    {
        "id": "76ad4585.e50a44",
        "type": "change",
        "z": "6ce9491a.789d9",
        "name": "Draw South River",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "payload.geojson",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.layer",
                "pt": "msg",
                "to": "SouthRiver",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.name",
                "pt": "msg",
                "to": "SouthRiver",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.color",
                "pt": "msg",
                "to": "steelblue",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.weight",
                "pt": "msg",
                "to": "3",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 970,
        "y": 980,
        "wires": [
            [
                "43252386.b2cb24"
            ]
        ]
    },
    {
        "id": "9ac64d87.90cf28",
        "type": "http request",
        "z": "6ce9491a.789d9",
        "name": "USGS South River",
        "method": "GET",
        "ret": "obj",
        "paytoqs": false,
        "url": "https://labs.waterdata.usgs.gov/api/nldi/linked-data/nwissite/USGS-02203603/navigate/UT",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 630,
        "y": 980,
        "wires": [
            [
                "76ad4585.e50a44"
            ]
        ]
    },
    {
        "id": "a1479697.3267",
        "type": "http request",
        "z": "6ce9491a.789d9",
        "name": "USGS Camp Creek water basin",
        "method": "GET",
        "ret": "obj",
        "paytoqs": false,
        "url": "https://labs.waterdata.usgs.gov/api/nldi/linked-data/nwissite/USGS-02344280/basin",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 670,
        "y": 888,
        "wires": [
            [
                "46a8192f.de2b5"
            ]
        ]
    },
    {
        "id": "46a8192f.de2b5",
        "type": "function",
        "z": "6ce9491a.789d9",
        "name": "Draw Water Basin map",
        "func": "// Add some simple-spec styling to this polygon area\nvar properties = { \n    \"stroke\" : \"maroon\",\n    \"stroke-width\": 5,\n    \"fill\": \"maroon\",\n    \"fill-opacity\": 0.4\n}\nmsg.payload.features[0].properties = properties;\n\nmsg.payload = { name: \"Camp2CreekWaterBasin\",\n                layer:\"Camp2CreekWaterBasin\",\n                geojson:msg.payload\n              };    \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 980,
        "y": 888,
        "wires": [
            [
                "db730192.30fff8",
                "43252386.b2cb24"
            ]
        ]
    },
    {
        "id": "db730192.30fff8",
        "type": "debug",
        "z": "6ce9491a.789d9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1290,
        "y": 888,
        "wires": []
    },
    {
        "id": "eb62a172.f45208",
        "type": "ui_switch",
        "z": "6ce9491a.789d9",
        "name": "",
        "label": "Show Camp Creek Water Basin",
        "tooltip": "",
        "group": "d3dd8357.94cad8",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "fa-tint",
        "oncolor": "maroon",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "fa-tint",
        "offcolor": "grey",
        "x": 190,
        "y": 908,
        "wires": [
            [
                "55c7af4d.0d4a4"
            ]
        ]
    },
    {
        "id": "55c7af4d.0d4a4",
        "type": "switch",
        "z": "6ce9491a.789d9",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 450,
        "y": 908,
        "wires": [
            [
                "a1479697.3267",
                "1a87db22.46874d",
                "b9f43abe.8eddc8",
                "6d18f39.f470c0c"
            ],
            [
                "a4e8ed96.1673f8"
            ]
        ]
    },
    {
        "id": "a4e8ed96.1673f8",
        "type": "change",
        "z": "6ce9491a.789d9",
        "name": "Hide Camp Creek Water Basin",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"command\":{\"hidelayer\":[\"Camp1CreekWaterBasin\",\"Camp1Creek\",\"Camp2CreekWaterBasin\",\"Camp2Creek\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1010,
        "y": 928,
        "wires": [
            [
                "43252386.b2cb24"
            ]
        ]
    },
    {
        "id": "f4d1210f.850b2",
        "type": "change",
        "z": "6ce9491a.789d9",
        "name": "Draw Camp2 Creek",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "payload.geojson",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.layer",
                "pt": "msg",
                "to": "Camp2Creek",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.name",
                "pt": "msg",
                "to": "Camp2Creek",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.color",
                "pt": "msg",
                "to": "steelblue",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.weight",
                "pt": "msg",
                "to": "3",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 970,
        "y": 848,
        "wires": [
            [
                "43252386.b2cb24"
            ]
        ]
    },
    {
        "id": "1a87db22.46874d",
        "type": "http request",
        "z": "6ce9491a.789d9",
        "name": "USGS Camp Creek",
        "method": "GET",
        "ret": "obj",
        "paytoqs": false,
        "url": "https://labs.waterdata.usgs.gov/api/nldi/linked-data/nwissite/USGS-02344280/navigate/UT",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 630,
        "y": 848,
        "wires": [
            [
                "f4d1210f.850b2"
            ]
        ]
    },
    {
        "id": "b9f43abe.8eddc8",
        "type": "http request",
        "z": "6ce9491a.789d9",
        "name": "USGS Camp1 Creek water basin",
        "method": "GET",
        "ret": "obj",
        "paytoqs": false,
        "url": "https://labs.waterdata.usgs.gov/api/nldi/linked-data/nwissite/USGS-02344327/basin",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 680,
        "y": 800,
        "wires": [
            [
                "d463fc42.68253"
            ]
        ]
    },
    {
        "id": "d463fc42.68253",
        "type": "function",
        "z": "6ce9491a.789d9",
        "name": "Draw Water Basin map",
        "func": "// Add some simple-spec styling to this polygon area\nvar properties = { \n    \"stroke\" : \"maroon\",\n    \"stroke-width\": 5,\n    \"fill\": \"maroon\",\n    \"fill-opacity\": 0.4\n}\nmsg.payload.features[0].properties = properties;\n\nmsg.payload = { name: \"Camp1CreekWaterBasin\",\n                layer:\"Camp1CreekWaterBasin\",\n                geojson:msg.payload\n              };    \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 980,
        "y": 800,
        "wires": [
            [
                "43252386.b2cb24"
            ]
        ]
    },
    {
        "id": "fbc2936b.6e195",
        "type": "change",
        "z": "6ce9491a.789d9",
        "name": "Draw Camp1 Creek",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "payload.geojson",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.layer",
                "pt": "msg",
                "to": "Camp1Creek",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.name",
                "pt": "msg",
                "to": "Camp1Creek",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.color",
                "pt": "msg",
                "to": "steelblue",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.weight",
                "pt": "msg",
                "to": "3",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 970,
        "y": 760,
        "wires": [
            [
                "43252386.b2cb24"
            ]
        ]
    },
    {
        "id": "6d18f39.f470c0c",
        "type": "http request",
        "z": "6ce9491a.789d9",
        "name": "USGS Camp1 Creek",
        "method": "GET",
        "ret": "obj",
        "paytoqs": false,
        "url": "https://labs.waterdata.usgs.gov/api/nldi/linked-data/nwissite/USGS-02344327/navigate/UT",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 640,
        "y": 760,
        "wires": [
            [
                "fbc2936b.6e195"
            ]
        ]
    },
    {
        "id": "e2aaecf4.ba1d4",
        "type": "http request",
        "z": "6ce9491a.789d9",
        "name": "USGS Flint River water basin",
        "method": "GET",
        "ret": "obj",
        "paytoqs": false,
        "url": "https://labs.waterdata.usgs.gov/api/nldi/linked-data/nwissite/USGS-02344350/basin",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 660,
        "y": 680,
        "wires": [
            [
                "9d511e34.a57b08"
            ]
        ]
    },
    {
        "id": "9d511e34.a57b08",
        "type": "function",
        "z": "6ce9491a.789d9",
        "name": "Draw Water Basin map",
        "func": "// Add some simple-spec styling to this polygon area\nvar properties = { \n    \"stroke\" : \"peru\",\n    \"stroke-width\": 5,\n    \"fill\": \"peru\",\n    \"fill-opacity\": 0.4\n}\nmsg.payload.features[0].properties = properties;\n\nmsg.payload = { name: \"FlintRiverWaterBasin\",\n                layer:\"FlintRiverWaterBasin\",\n                geojson:msg.payload\n              };    \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 980,
        "y": 680,
        "wires": [
            [
                "455a161b.5d68a",
                "43252386.b2cb24"
            ]
        ]
    },
    {
        "id": "455a161b.5d68a",
        "type": "debug",
        "z": "6ce9491a.789d9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1290,
        "y": 680,
        "wires": []
    },
    {
        "id": "11d6b94.bc866c7",
        "type": "ui_switch",
        "z": "6ce9491a.789d9",
        "name": "",
        "label": "Show Flint River Water Basin",
        "tooltip": "",
        "group": "d3dd8357.94cad8",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "fa-tint",
        "oncolor": "peru",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "fa-tint",
        "offcolor": "grey",
        "x": 180,
        "y": 700,
        "wires": [
            [
                "b1003e18.3e7fd8"
            ]
        ]
    },
    {
        "id": "b1003e18.3e7fd8",
        "type": "switch",
        "z": "6ce9491a.789d9",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 450,
        "y": 700,
        "wires": [
            [
                "e2aaecf4.ba1d4",
                "b4f778b3.1508e"
            ],
            [
                "8af1911a.0e0a58"
            ]
        ]
    },
    {
        "id": "8af1911a.0e0a58",
        "type": "change",
        "z": "6ce9491a.789d9",
        "name": "Hide Flint River Water Basin",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"command\":{\"hidelayer\":[\"FlintRiverWaterBasin\",\"FlintRiver\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1000,
        "y": 720,
        "wires": [
            [
                "43252386.b2cb24"
            ]
        ]
    },
    {
        "id": "ce95b6e3.a20678",
        "type": "change",
        "z": "6ce9491a.789d9",
        "name": "Draw Flint River",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "payload.geojson",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.layer",
                "pt": "msg",
                "to": "FlintRiver",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.name",
                "pt": "msg",
                "to": "FlintRiver",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.color",
                "pt": "msg",
                "to": "steelblue",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.weight",
                "pt": "msg",
                "to": "3",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 640,
        "wires": [
            [
                "43252386.b2cb24"
            ]
        ]
    },
    {
        "id": "b4f778b3.1508e",
        "type": "http request",
        "z": "6ce9491a.789d9",
        "name": "USGS Flint River",
        "method": "GET",
        "ret": "obj",
        "paytoqs": false,
        "url": "https://labs.waterdata.usgs.gov/api/nldi/linked-data/nwissite/USGS-02344350/navigate/UT",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 630,
        "y": 640,
        "wires": [
            [
                "ce95b6e3.a20678"
            ]
        ]
    },
    {
        "id": "fa0eeb2d.0d1d1",
        "type": "http request",
        "z": "6ce9491a.789d9",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": false,
        "url": "https://streamstats.usgs.gov/streamstatsservices/watershed.geojson?rcode=GA&xlocation=-84.5508762&ylocation=33.8543487&crs=4326&includeparameters=false&includeflowtypes=false&includefeatures=true&simplify=true",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 750,
        "y": 2540,
        "wires": [
            [
                "b938a161.62b038",
                "c24f85ca.87592"
            ]
        ]
    },
    {
        "id": "bce0f2ab.9a5ae",
        "type": "inject",
        "z": "6ce9491a.789d9",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 460,
        "y": 2540,
        "wires": [
            [
                "fa0eeb2d.0d1d1"
            ]
        ]
    },
    {
        "id": "c24f85ca.87592",
        "type": "debug",
        "z": "6ce9491a.789d9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 970,
        "y": 2580,
        "wires": []
    },
    {
        "id": "b938a161.62b038",
        "type": "function",
        "z": "6ce9491a.789d9",
        "name": "",
        "func": "// Add some simple-spec styling to this polygon area\nvar properties = { \n    \"stroke\" : \"orange\",\n    \"stroke-width\": 5,\n    \"fill\": \"orange\",\n    \"fill-opacity\": 0.4\n}\nmsg.payload.featurecollection[1].feature.features[0].properties = properties;\ndelete msg.payload.featurecollection[1].feature.crs\ndelete msg.payload.featurecollection[1].feature.features[0].bbox\n\nmsg.payload = { name: \"SmyrnaWaterBasin\",\n                layer:\"SmyrnaWaterBasin\",\n                geojson:msg.payload.featurecollection[1].feature\n              };\n              \ndelete msg.payload.geojson.features[0].geometry.coordinates[1];\ndelete msg.payload.geojson.features[0].geometry.coordinates[2];\ndelete msg.payload.geojson.features[0].geometry.coordinates[3];  \ndelete msg.payload.geojson.features[0].geometry.coordinates[4];  \ndelete msg.payload.geojson.features[0].geometry.coordinates[5];  \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1010,
        "y": 2540,
        "wires": [
            [
                "43252386.b2cb24",
                "f9140be1.e032c8"
            ]
        ]
    },
    {
        "id": "f9140be1.e032c8",
        "type": "debug",
        "z": "6ce9491a.789d9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1190,
        "y": 2540,
        "wires": []
    },
    {
        "id": "7395ac0e.70f6fc",
        "type": "http request",
        "z": "6ce9491a.789d9",
        "name": "USGS Peachtree Creek water basin",
        "method": "GET",
        "ret": "obj",
        "paytoqs": false,
        "url": "https://labs.waterdata.usgs.gov/api/nldi/linked-data/nwissite/USGS-02336300/basin",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 690,
        "y": 560,
        "wires": [
            [
                "e65e8787.e192c8"
            ]
        ]
    },
    {
        "id": "e65e8787.e192c8",
        "type": "function",
        "z": "6ce9491a.789d9",
        "name": "Draw Water Basin map",
        "func": "// Add some simple-spec styling to this polygon area\nvar properties = { \n    \"stroke\" : \"darkviolet\",\n    \"stroke-width\": 5,\n    \"fill\": \"darkviolet\",\n    \"fill-opacity\": 0.4\n};\nmsg.payload.features[0].properties = properties;\n\nmsg.payload = { name: \"PeachtreeCreekWaterBasin\",\n                layer:\"PeachtreeCreekWaterBasin\",\n                geojson:msg.payload\n              };    \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 980,
        "y": 560,
        "wires": [
            [
                "78bffc78.a5c0ec",
                "43252386.b2cb24"
            ]
        ]
    },
    {
        "id": "78bffc78.a5c0ec",
        "type": "debug",
        "z": "6ce9491a.789d9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1290,
        "y": 560,
        "wires": []
    },
    {
        "id": "cda05117.70ec08",
        "type": "ui_switch",
        "z": "6ce9491a.789d9",
        "name": "",
        "label": "Show Peachtree Creek Water Basin",
        "tooltip": "",
        "group": "d3dd8357.94cad8",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "fa-tint",
        "oncolor": "darkviolet",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "fa-tint",
        "offcolor": "grey",
        "x": 210,
        "y": 580,
        "wires": [
            [
                "9b649bcf.db797"
            ]
        ]
    },
    {
        "id": "9b649bcf.db797",
        "type": "switch",
        "z": "6ce9491a.789d9",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 450,
        "y": 580,
        "wires": [
            [
                "7395ac0e.70f6fc",
                "d9fcdae5.d2c0c8"
            ],
            [
                "4aa6ae5b.1e7578"
            ]
        ]
    },
    {
        "id": "4aa6ae5b.1e7578",
        "type": "change",
        "z": "6ce9491a.789d9",
        "name": "Hide Peachtree Creek Water Basin",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"command\":{\"hidelayer\":[\"PeachtreeCreekWaterBasin\",\"PeachtreeCreek\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1020,
        "y": 600,
        "wires": [
            [
                "43252386.b2cb24"
            ]
        ]
    },
    {
        "id": "b5c3e327.703b7",
        "type": "change",
        "z": "6ce9491a.789d9",
        "name": "Draw Peachtree Creek",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "payload.geojson",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.layer",
                "pt": "msg",
                "to": "PeachtreeCreek",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.name",
                "pt": "msg",
                "to": "PeachtreeCreek",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.color",
                "pt": "msg",
                "to": "steelblue",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.weight",
                "pt": "msg",
                "to": "3",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 980,
        "y": 520,
        "wires": [
            [
                "43252386.b2cb24"
            ]
        ]
    },
    {
        "id": "d9fcdae5.d2c0c8",
        "type": "http request",
        "z": "6ce9491a.789d9",
        "name": "USGS Peachtree Creek",
        "method": "GET",
        "ret": "obj",
        "paytoqs": false,
        "url": "https://labs.waterdata.usgs.gov/api/nldi/linked-data/nwissite/USGS-02336300/navigate/UT",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 650,
        "y": 520,
        "wires": [
            [
                "b5c3e327.703b7"
            ]
        ]
    },
    {
        "id": "cbfa935f.551c9",
        "type": "ui_group",
        "z": "6ce9491a.789d9",
        "name": "Atlanta and Water Basins",
        "tab": "4fae9226.9fa9cc",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "d3dd8357.94cad8",
        "type": "ui_group",
        "z": "",
        "name": "Show Maps",
        "tab": "4fae9226.9fa9cc",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "d1237508.f6f1f8",
        "type": "ui_group",
        "z": "",
        "name": "Contaminants",
        "tab": "4fae9226.9fa9cc",
        "order": 3,
        "disp": true,
        "width": "11",
        "collapse": false
    },
    {
        "id": "4fae9226.9fa9cc",
        "type": "ui_tab",
        "z": "6ce9491a.789d9",
        "name": "Atlanta Water Basins",
        "icon": "fa-tint",
        "order": 10,
        "disabled": false,
        "hidden": false
    }
]
