flows/rwdnjwatershed.json
[
    {
        "id": "8e729cef.5b4d",
        "type": "tab",
        "label": "Ridgewood Watershed",
        "disabled": false,
        "info": ""
    },
    {
        "id": "40ee3cb.8876dc4",
        "type": "ui_template",
        "z": "8e729cef.5b4d",
        "group": "f56655c4.a61c68",
        "name": "Embedded Map",
        "order": 1,
        "width": "12",
        "height": "15",
        "format": "<div ng-bind-html=\"msg.payload | trusted\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "x": 820,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "425ffd2.da58b84",
        "type": "template",
        "z": "8e729cef.5b4d",
        "name": "Add Map to Dashboard",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<iframe src={{{payload.url}}} height=750px width=630px ></iframe>",
        "x": 590,
        "y": 100,
        "wires": [
            [
                "40ee3cb.8876dc4"
            ]
        ]
    },
    {
        "id": "1936254c.6dcbf3",
        "type": "comment",
        "z": "8e729cef.5b4d",
        "name": "One time - Add Map to Dashboard",
        "info": "",
        "x": 200,
        "y": 60,
        "wires": []
    },
    {
        "id": "fe7604c6.4341e8",
        "type": "inject",
        "z": "8e729cef.5b4d",
        "name": "Init WorldMap",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 140,
        "y": 100,
        "wires": [
            [
                "48f484d1.b21eac"
            ]
        ]
    },
    {
        "id": "48f484d1.b21eac",
        "type": "function",
        "z": "8e729cef.5b4d",
        "name": "Set up /watermap",
        "func": "msg.payload = {};\nmsg.payload.url = \"/watermap\";\nmsg.payload.command = {};\n\nmsg.payload.command =   {\n                        layer:\"OSM Grey\",\n                        lat:41.0555556,\n                        lon:-74.1197222,\n                        zoom:5,\n                        map: { name: \"OSM Grey\" }\n                        };\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 100,
        "wires": [
            [
                "425ffd2.da58b84"
            ]
        ]
    },
    {
        "id": "a9107aad.d115b",
        "type": "worldmap",
        "z": "8e729cef.5b4d",
        "name": "",
        "lat": "41.0555556",
        "lon": "-74.1197222",
        "zoom": "11",
        "layer": "OSM",
        "cluster": "",
        "maxage": "",
        "usermenu": "show",
        "layers": "show",
        "panit": "false",
        "zoomlock": "false",
        "hiderightclick": "false",
        "coords": "none",
        "path": "watermap",
        "x": 1280,
        "y": 460,
        "wires": []
    },
    {
        "id": "c8bea8b0.eb5948",
        "type": "http request",
        "z": "8e729cef.5b4d",
        "name": "USGS Hohokus Brook water basin",
        "method": "GET",
        "ret": "obj",
        "paytoqs": false,
        "url": "https://labs.waterdata.usgs.gov/api/nldi/linked-data/nwissite/USGS-01391000/basin",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 680,
        "y": 400,
        "wires": [
            [
                "990674f.1a48788"
            ]
        ]
    },
    {
        "id": "fc3fd199.35ab3",
        "type": "debug",
        "z": "8e729cef.5b4d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1290,
        "y": 400,
        "wires": []
    },
    {
        "id": "ce5cbe87.79d62",
        "type": "debug",
        "z": "8e729cef.5b4d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1290,
        "y": 220,
        "wires": []
    },
    {
        "id": "5e7c2d7d.d9145c",
        "type": "comment",
        "z": "8e729cef.5b4d",
        "name": "Find your water basin - https://waterdata.usgs.gov/blog/nldi-intro/",
        "info": "",
        "x": 390,
        "y": 500,
        "wires": []
    },
    {
        "id": "51706025.6c6d68",
        "type": "comment",
        "z": "8e729cef.5b4d",
        "name": "Find your stream - USGS",
        "info": "\nhttps://waterdata.usgs.gov/nwis/inventory?state_cd=nj&format=station_list&group_key=NONE&list_of_search_criteria=state_cd",
        "x": 270,
        "y": 380,
        "wires": []
    },
    {
        "id": "38809be8.e435e4",
        "type": "comment",
        "z": "8e729cef.5b4d",
        "name": "Zip code boundaries for each of the 50 states",
        "info": "Grab your town area map geojson from these\nmassive tables.\nhttps://github.com/OpenDataDE/State-zip-code-GeoJSON\n\nWould be cool if it looked like this:\nhttp://maps.huge.info/zip.htm",
        "x": 330,
        "y": 200,
        "wires": []
    },
    {
        "id": "b66f1f59.8af1a",
        "type": "http request",
        "z": "8e729cef.5b4d",
        "name": "USGS Saddle River water basin",
        "method": "GET",
        "ret": "obj",
        "paytoqs": false,
        "url": "https://labs.waterdata.usgs.gov/api/nldi/linked-data/nwissite/USGS-01391102/basin",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 670,
        "y": 580,
        "wires": [
            [
                "6badb27f.71d7c4"
            ]
        ]
    },
    {
        "id": "6badb27f.71d7c4",
        "type": "function",
        "z": "8e729cef.5b4d",
        "name": "Draw Water Basin map",
        "func": "// Add some simple-spec styling to this polygon area\nvar properties = { \n    \"stroke\" : \"aqua\",\n    \"stroke-width\": 5,\n    \"fill\": \"#00FFFF\",\n    \"fill-opacity\": 0.4\n}\nmsg.payload.features[0].properties = properties;\n\nmsg.payload = { name: \"SaddleRiverWaterBasin\",\n                layer:\"SaddleRiverWaterBasin\",\n                geojson:msg.payload\n              };    \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 980,
        "y": 580,
        "wires": [
            [
                "e5afcde7.d92dc8",
                "a9107aad.d115b"
            ]
        ]
    },
    {
        "id": "e5afcde7.d92dc8",
        "type": "debug",
        "z": "8e729cef.5b4d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1290,
        "y": 580,
        "wires": []
    },
    {
        "id": "36b39f31.4c3328",
        "type": "template",
        "z": "8e729cef.5b4d",
        "name": "Ridgewood ZipCode boundaries",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "plain",
        "template": "{\n    \"type\": \"Feature\",\n    \"properties\": {\n        \"Location\":\"Ridgewood, NJ\",\n        \"ZipCode\":\"07450\"\n    },\n    \"geometry\": {\n        \"type\": \"Polygon\",\n        \"coordinates\": [\n            [\n                [\n                    -74.140618,\n                    40.9669\n                ],\n                [\n                    -74.140892,\n                    40.966596\n                ],\n                [\n                    -74.14096,\n                    40.966503\n                ],\n                [\n                    -74.141048,\n                    40.966348\n                ],\n                [\n                    -74.141094,\n                    40.966374\n                ],\n                [\n                    -74.144429,\n                    40.968307\n                ],\n                [\n                    -74.144511,\n                    40.968356\n                ],\n                [\n                    -74.144838,\n                    40.968548\n                ],\n                [\n                    -74.146538,\n                    40.969667\n                ],\n                [\n                    -74.146587,\n                    40.969697\n                ],\n                [\n                    -74.146837,\n                    40.969842\n                ],\n                [\n                    -74.147218,\n                    40.970063\n                ],\n                [\n                    -74.147261,\n                    40.970088\n                ],\n                [\n                    -74.147987,\n                    40.970507\n                ],\n                [\n                    -74.148072,\n                    40.970556\n                ],\n                [\n                    -74.148494,\n                    40.970801\n                ],\n                [\n                    -74.148626,\n                    40.970876\n                ],\n                [\n                    -74.148871,\n                    40.971014\n                ],\n                [\n                    -74.14905,\n                    40.971115\n                ],\n                [\n                    -74.149072,\n                    40.971128\n                ],\n                [\n                    -74.149088,\n                    40.971137\n                ],\n                [\n                    -74.148621,\n                    40.971859\n                ],\n                [\n                    -74.148337,\n                    40.972318\n                ],\n                [\n                    -74.147729,\n                    40.973301\n                ],\n                [\n                    -74.147219,\n                    40.974125\n                ],\n                [\n                    -74.146597,\n                    40.975153\n                ],\n                [\n                    -74.145849,\n                    40.976419\n                ],\n                [\n                    -74.144451,\n                    40.978701\n                ],\n                [\n                    -74.144047,\n                    40.979326\n                ],\n                [\n                    -74.14386,\n                    40.979615\n                ],\n                [\n                    -74.143092,\n                    40.980856\n                ],\n                [\n                    -74.142619,\n                    40.981621\n                ],\n                [\n                    -74.142121,\n                    40.982014\n                ],\n                [\n                    -74.1421,\n                    40.981997\n                ],\n                [\n                    -74.141758,\n                    40.982267\n                ],\n                [\n                    -74.141625,\n                    40.982363\n                ],\n                [\n                    -74.141294,\n                    40.98269\n                ],\n                [\n                    -74.14121,\n                    40.982761\n                ],\n                [\n                    -74.140984,\n                    40.982235\n                ],\n                [\n                    -74.139503,\n                    40.982064\n                ],\n                [\n                    -74.139045,\n                    40.981984\n                ],\n                [\n                    -74.137315,\n                    40.981882\n                ],\n                [\n                    -74.137002,\n                    40.981881\n                ],\n                [\n                    -74.136819,\n                    40.981925\n                ],\n                [\n                    -74.136486,\n                    40.982356\n                ],\n                [\n                    -74.136517,\n                    40.982352\n                ],\n                [\n                    -74.136366,\n                    40.982591\n                ],\n                [\n                    -74.135765,\n                    40.983541\n                ],\n                [\n                    -74.135182,\n                    40.983185\n                ],\n                [\n                    -74.132903,\n                    40.985503\n                ],\n                [\n                    -74.131846,\n                    40.987308\n                ],\n                [\n                    -74.131714,\n                    40.987462\n                ],\n                [\n                    -74.131366,\n                    40.988168\n                ],\n                [\n                    -74.130582,\n                    40.989567\n                ],\n                [\n                    -74.128127,\n                    40.993986\n                ],\n                [\n                    -74.128027,\n                    40.994377\n                ],\n                [\n                    -74.129254,\n                    40.994775\n                ],\n                [\n                    -74.131018,\n                    40.995123\n                ],\n                [\n                    -74.132327,\n                    40.995451\n                ],\n                [\n                    -74.132819,\n                    40.995654\n                ],\n                [\n                    -74.132107,\n                    40.997767\n                ],\n                [\n                    -74.130702,\n                    41.003352\n                ],\n                [\n                    -74.130706,\n                    41.003709\n                ],\n                [\n                    -74.130797,\n                    41.004907\n                ],\n                [\n                    -74.130855,\n                    41.005672\n                ],\n                [\n                    -74.13087,\n                    41.006192\n                ],\n                [\n                    -74.129837,\n                    41.006754\n                ],\n                [\n                    -74.129779,\n                    41.006846\n                ],\n                [\n                    -74.129767,\n                    41.006859\n                ],\n                [\n                    -74.129595,\n                    41.007161\n                ],\n                [\n                    -74.12922,\n                    41.007187\n                ],\n                [\n                    -74.128702,\n                    41.00733\n                ],\n                [\n                    -74.12835,\n                    41.007582\n                ],\n                [\n                    -74.127986,\n                    41.007844\n                ],\n                [\n                    -74.127902,\n                    41.007774\n                ],\n                [\n                    -74.127988,\n                    41.007715\n                ],\n                [\n                    -74.127976,\n                    41.007437\n                ],\n                [\n                    -74.127951,\n                    41.007106\n                ],\n                [\n                    -74.127842,\n                    41.006905\n                ],\n                [\n                    -74.127748,\n                    41.006732\n                ],\n                [\n                    -74.127717,\n                    41.006706\n                ],\n                [\n                    -74.127406,\n                    41.006441\n                ],\n                [\n                    -74.127197,\n                    41.006296\n                ],\n                [\n                    -74.12702,\n                    41.006173\n                ],\n                [\n                    -74.12694,\n                    41.006136\n                ],\n                [\n                    -74.126686,\n                    41.006019\n                ],\n                [\n                    -74.126421,\n                    41.005932\n                ],\n                [\n                    -74.126184,\n                    41.005889\n                ],\n                [\n                    -74.125907,\n                    41.005838\n                ],\n                [\n                    -74.125611,\n                    41.005792\n                ],\n                [\n                    -74.125399,\n                    41.005759\n                ],\n                [\n                    -74.125076,\n                    41.005783\n                ],\n                [\n                    -74.124656,\n                    41.005753\n                ],\n                [\n                    -74.124399,\n                    41.005734\n                ],\n                [\n                    -74.124087,\n                    41.005827\n                ],\n                [\n                    -74.12403,\n                    41.005832\n                ],\n                [\n                    -74.123938,\n                    41.005848\n                ],\n                [\n                    -74.123595,\n                    41.005875\n                ],\n                [\n                    -74.123488,\n                    41.005896\n                ],\n                [\n                    -74.123471,\n                    41.005904\n                ],\n                [\n                    -74.123434,\n                    41.005921\n                ],\n                [\n                    -74.123417,\n                    41.005934\n                ],\n                [\n                    -74.123352,\n                    41.005923\n                ],\n                [\n                    -74.123167,\n                    41.005934\n                ],\n                [\n                    -74.122985,\n                    41.005961\n                ],\n                [\n                    -74.122946,\n                    41.005967\n                ],\n                [\n                    -74.122575,\n                    41.006058\n                ],\n                [\n                    -74.122484,\n                    41.006097\n                ],\n                [\n                    -74.122326,\n                    41.006128\n                ],\n                [\n                    -74.121743,\n                    41.006241\n                ],\n                [\n                    -74.119916,\n                    41.006211\n                ],\n                [\n                    -74.119405,\n                    41.006202\n                ],\n                [\n                    -74.118921,\n                    41.006088\n                ],\n                [\n                    -74.118772,\n                    41.006053\n                ],\n                [\n                    -74.118735,\n                    41.006023\n                ],\n                [\n                    -74.118497,\n                    41.005852\n                ],\n                [\n                    -74.118256,\n                    41.005495\n                ],\n                [\n                    -74.118206,\n                    41.005422\n                ],\n                [\n                    -74.118063,\n                    41.004929\n                ],\n                [\n                    -74.118017,\n                    41.004859\n                ],\n                [\n                    -74.117973,\n                    41.004669\n                ],\n                [\n                    -74.117995,\n                    41.004472\n                ],\n                [\n                    -74.118052,\n                    41.004256\n                ],\n                [\n                    -74.117887,\n                    41.004122\n                ],\n                [\n                    -74.117806,\n                    41.00387\n                ],\n                [\n                    -74.117776,\n                    41.003805\n                ],\n                [\n                    -74.117719,\n                    41.003659\n                ],\n                [\n                    -74.11779,\n                    41.003542\n                ],\n                [\n                    -74.117883,\n                    41.003463\n                ],\n                [\n                    -74.117945,\n                    41.003389\n                ],\n                [\n                    -74.11802,\n                    41.003312\n                ],\n                [\n                    -74.118125,\n                    41.003203\n                ],\n                [\n                    -74.11816,\n                    41.003077\n                ],\n                [\n                    -74.11813,\n                    41.00295\n                ],\n                [\n                    -74.118074,\n                    41.002797\n                ],\n                [\n                    -74.117935,\n                    41.002642\n                ],\n                [\n                    -74.117797,\n                    41.002515\n                ],\n                [\n                    -74.117637,\n                    41.002379\n                ],\n                [\n                    -74.117456,\n                    41.002278\n                ],\n                [\n                    -74.117296,\n                    41.002214\n                ],\n                [\n                    -74.11697,\n                    41.002004\n                ],\n                [\n                    -74.116717,\n                    41.001858\n                ],\n                [\n                    -74.116528,\n                    41.001758\n                ],\n                [\n                    -74.116369,\n                    41.001667\n                ],\n                [\n                    -74.116287,\n                    41.00163\n                ],\n                [\n                    -74.116129,\n                    41.00156\n                ],\n                [\n                    -74.114386,\n                    40.998297\n                ],\n                [\n                    -74.114287,\n                    40.997931\n                ],\n                [\n                    -74.114062,\n                    40.997095\n                ],\n                [\n                    -74.113824,\n                    40.996413\n                ],\n                [\n                    -74.113475,\n                    40.995412\n                ],\n                [\n                    -74.113265,\n                    40.995362\n                ],\n                [\n                    -74.113119,\n                    40.995347\n                ],\n                [\n                    -74.112646,\n                    40.995287\n                ],\n                [\n                    -74.112601,\n                    40.996296\n                ],\n                [\n                    -74.112104,\n                    40.996298\n                ],\n                [\n                    -74.112096,\n                    40.996295\n                ],\n                [\n                    -74.11194,\n                    40.996253\n                ],\n                [\n                    -74.110714,\n                    40.99608\n                ],\n                [\n                    -74.110544,\n                    40.996047\n                ],\n                [\n                    -74.109756,\n                    40.995895\n                ],\n                [\n                    -74.109303,\n                    40.995808\n                ],\n                [\n                    -74.109263,\n                    40.995801\n                ],\n                [\n                    -74.108332,\n                    40.995621\n                ],\n                [\n                    -74.108263,\n                    40.995973\n                ],\n                [\n                    -74.108137,\n                    40.995947\n                ],\n                [\n                    -74.107944,\n                    40.9959\n                ],\n                [\n                    -74.108248,\n                    40.995569\n                ],\n                [\n                    -74.107605,\n                    40.995441\n                ],\n                [\n                    -74.107073,\n                    40.995352\n                ],\n                [\n                    -74.106374,\n                    40.995563\n                ],\n                [\n                    -74.10634,\n                    40.995661\n                ],\n                [\n                    -74.10534,\n                    40.995205\n                ],\n                [\n                    -74.104945,\n                    40.995013\n                ],\n                [\n                    -74.104532,\n                    40.994934\n                ],\n                [\n                    -74.104344,\n                    40.994838\n                ],\n                [\n                    -74.104323,\n                    40.994893\n                ],\n                [\n                    -74.104083,\n                    40.994846\n                ],\n                [\n                    -74.101952,\n                    40.994422\n                ],\n                [\n                    -74.100562,\n                    40.994145\n                ],\n                [\n                    -74.099511,\n                    40.993936\n                ],\n                [\n                    -74.098004,\n                    40.993636\n                ],\n                [\n                    -74.097471,\n                    40.993529\n                ],\n                [\n                    -74.096514,\n                    40.993337\n                ],\n                [\n                    -74.096282,\n                    40.993291\n                ],\n                [\n                    -74.096078,\n                    40.99325\n                ],\n                [\n                    -74.095693,\n                    40.993173\n                ],\n                [\n                    -74.094603,\n                    40.992956\n                ],\n                [\n                    -74.093068,\n                    40.99265\n                ],\n                [\n                    -74.093022,\n                    40.99264\n                ],\n                [\n                    -74.091596,\n                    40.992483\n                ],\n                [\n                    -74.091613,\n                    40.992828\n                ],\n                [\n                    -74.091562,\n                    40.992831\n                ],\n                [\n                    -74.09115,\n                    40.992817\n                ],\n                [\n                    -74.091026,\n                    40.992816\n                ],\n                [\n                    -74.090896,\n                    40.992815\n                ],\n                [\n                    -74.090744,\n                    40.992821\n                ],\n                [\n                    -74.090627,\n                    40.992832\n                ],\n                [\n                    -74.090487,\n                    40.992843\n                ],\n                [\n                    -74.090397,\n                    40.992822\n                ],\n                [\n                    -74.090397,\n                    40.992752\n                ],\n                [\n                    -74.090393,\n                    40.992493\n                ],\n                [\n                    -74.090273,\n                    40.992493\n                ],\n                [\n                    -74.090306,\n                    40.992392\n                ],\n                [\n                    -74.090311,\n                    40.992255\n                ],\n                [\n                    -74.090313,\n                    40.992188\n                ],\n                [\n                    -74.090275,\n                    40.992057\n                ],\n                [\n                    -74.090088,\n                    40.991952\n                ],\n                [\n                    -74.089958,\n                    40.991925\n                ],\n                [\n                    -74.089769,\n                    40.991958\n                ],\n                [\n                    -74.089672,\n                    40.992001\n                ],\n                [\n                    -74.089646,\n                    40.992013\n                ],\n                [\n                    -74.089592,\n                    40.992022\n                ],\n                [\n                    -74.089553,\n                    40.992029\n                ],\n                [\n                    -74.08948,\n                    40.992041\n                ],\n                [\n                    -74.089428,\n                    40.992034\n                ],\n                [\n                    -74.089399,\n                    40.991989\n                ],\n                [\n                    -74.088558,\n                    40.991875\n                ],\n                [\n                    -74.088519,\n                    40.991868\n                ],\n                [\n                    -74.0885,\n                    40.991845\n                ],\n                [\n                    -74.088468,\n                    40.991843\n                ],\n                [\n                    -74.088462,\n                    40.991801\n                ],\n                [\n                    -74.088487,\n                    40.991778\n                ],\n                [\n                    -74.088599,\n                    40.991674\n                ],\n                [\n                    -74.088771,\n                    40.991462\n                ],\n                [\n                    -74.088658,\n                    40.991381\n                ],\n                [\n                    -74.08845,\n                    40.991235\n                ],\n                [\n                    -74.088363,\n                    40.991174\n                ],\n                [\n                    -74.088344,\n                    40.991169\n                ],\n                [\n                    -74.088131,\n                    40.991114\n                ],\n                [\n                    -74.087822,\n                    40.991084\n                ],\n                [\n                    -74.087816,\n                    40.991191\n                ],\n                [\n                    -74.086724,\n                    40.991129\n                ],\n                [\n                    -74.086281,\n                    40.9911\n                ],\n                [\n                    -74.086256,\n                    40.991162\n                ],\n                [\n                    -74.08621,\n                    40.991152\n                ],\n                [\n                    -74.083906,\n                    40.990644\n                ],\n                [\n                    -74.083793,\n                    40.991137\n                ],\n                [\n                    -74.083678,\n                    40.991186\n                ],\n                [\n                    -74.082487,\n                    40.991072\n                ],\n                [\n                    -74.082485,\n                    40.990538\n                ],\n                [\n                    -74.082596,\n                    40.990145\n                ],\n                [\n                    -74.081193,\n                    40.989947\n                ],\n                [\n                    -74.081196,\n                    40.989893\n                ],\n                [\n                    -74.081182,\n                    40.98976\n                ],\n                [\n                    -74.080009,\n                    40.989832\n                ],\n                [\n                    -74.080005,\n                    40.989792\n                ],\n                [\n                    -74.079652,\n                    40.989891\n                ],\n                [\n                    -74.079461,\n                    40.989939\n                ],\n                [\n                    -74.0793,\n                    40.989753\n                ],\n                [\n                    -74.078907,\n                    40.989325\n                ],\n                [\n                    -74.078332,\n                    40.98921\n                ],\n                [\n                    -74.078365,\n                    40.988588\n                ],\n                [\n                    -74.078887,\n                    40.988475\n                ],\n                [\n                    -74.079009,\n                    40.988061\n                ],\n                [\n                    -74.07834,\n                    40.988044\n                ],\n                [\n                    -74.079307,\n                    40.987001\n                ],\n                [\n                    -74.0791,\n                    40.986919\n                ],\n                [\n                    -74.07901,\n                    40.986877\n                ],\n                [\n                    -74.079059,\n                    40.986077\n                ],\n                [\n                    -74.079019,\n                    40.986046\n                ],\n                [\n                    -74.078994,\n                    40.986002\n                ],\n                [\n                    -74.078989,\n                    40.98596\n                ],\n                [\n                    -74.079046,\n                    40.985781\n                ],\n                [\n                    -74.079105,\n                    40.985594\n                ],\n                [\n                    -74.078397,\n                    40.98534\n                ],\n                [\n                    -74.078449,\n                    40.984942\n                ],\n                [\n                    -74.078449,\n                    40.984937\n                ],\n                [\n                    -74.078322,\n                    40.984923\n                ],\n                [\n                    -74.078088,\n                    40.984891\n                ],\n                [\n                    -74.078096,\n                    40.984377\n                ],\n                [\n                    -74.078516,\n                    40.983242\n                ],\n                [\n                    -74.077923,\n                    40.983028\n                ],\n                [\n                    -74.07844,\n                    40.982098\n                ],\n                [\n                    -74.078171,\n                    40.982046\n                ],\n                [\n                    -74.077176,\n                    40.981862\n                ],\n                [\n                    -74.077803,\n                    40.979441\n                ],\n                [\n                    -74.077559,\n                    40.979381\n                ],\n                [\n                    -74.077766,\n                    40.978377\n                ],\n                [\n                    -74.077985,\n                    40.978428\n                ],\n                [\n                    -74.078293,\n                    40.97848\n                ],\n                [\n                    -74.078324,\n                    40.978486\n                ],\n                [\n                    -74.079857,\n                    40.978745\n                ],\n                [\n                    -74.080224,\n                    40.978807\n                ],\n                [\n                    -74.08099,\n                    40.978937\n                ],\n                [\n                    -74.081313,\n                    40.978992\n                ],\n                [\n                    -74.081453,\n                    40.979017\n                ],\n                [\n                    -74.082053,\n                    40.979124\n                ],\n                [\n                    -74.082484,\n                    40.979201\n                ],\n                [\n                    -74.083286,\n                    40.979344\n                ],\n                [\n                    -74.083551,\n                    40.979391\n                ],\n                [\n                    -74.083586,\n                    40.979397\n                ],\n                [\n                    -74.083842,\n                    40.979443\n                ],\n                [\n                    -74.084005,\n                    40.979482\n                ],\n                [\n                    -74.084281,\n                    40.979569\n                ],\n                [\n                    -74.084477,\n                    40.979622\n                ],\n                [\n                    -74.084498,\n                    40.979628\n                ],\n                [\n                    -74.084873,\n                    40.9797\n                ],\n                [\n                    -74.085584,\n                    40.979836\n                ],\n                [\n                    -74.086432,\n                    40.980006\n                ],\n                [\n                    -74.08658,\n                    40.980031\n                ],\n                [\n                    -74.088728,\n                    40.980453\n                ],\n                [\n                    -74.090753,\n                    40.980635\n                ],\n                [\n                    -74.090769,\n                    40.980582\n                ],\n                [\n                    -74.090809,\n                    40.980505\n                ],\n                [\n                    -74.090847,\n                    40.980447\n                ],\n                [\n                    -74.090863,\n                    40.980402\n                ],\n                [\n                    -74.090938,\n                    40.980241\n                ],\n                [\n                    -74.091046,\n                    40.98012\n                ],\n                [\n                    -74.091179,\n                    40.979985\n                ],\n                [\n                    -74.091323,\n                    40.979928\n                ],\n                [\n                    -74.091359,\n                    40.979915\n                ],\n                [\n                    -74.091399,\n                    40.979908\n                ],\n                [\n                    -74.091619,\n                    40.979871\n                ],\n                [\n                    -74.091829,\n                    40.979877\n                ],\n                [\n                    -74.091852,\n                    40.979878\n                ],\n                [\n                    -74.091987,\n                    40.979841\n                ],\n                [\n                    -74.092251,\n                    40.979769\n                ],\n                [\n                    -74.092398,\n                    40.979709\n                ],\n                [\n                    -74.092439,\n                    40.979669\n                ],\n                [\n                    -74.092485,\n                    40.979624\n                ],\n                [\n                    -74.092512,\n                    40.979559\n                ],\n                [\n                    -74.092499,\n                    40.979463\n                ],\n                [\n                    -74.092481,\n                    40.979429\n                ],\n                [\n                    -74.092422,\n                    40.979368\n                ],\n                [\n                    -74.092376,\n                    40.979328\n                ],\n                [\n                    -74.092363,\n                    40.979277\n                ],\n                [\n                    -74.09237,\n                    40.979227\n                ],\n                [\n                    -74.092404,\n                    40.979187\n                ],\n                [\n                    -74.092478,\n                    40.979142\n                ],\n                [\n                    -74.092725,\n                    40.978937\n                ],\n                [\n                    -74.092752,\n                    40.978866\n                ],\n                [\n                    -74.092776,\n                    40.978758\n                ],\n                [\n                    -74.092769,\n                    40.978731\n                ],\n                [\n                    -74.092748,\n                    40.978681\n                ],\n                [\n                    -74.092744,\n                    40.978661\n                ],\n                [\n                    -74.092707,\n                    40.978618\n                ],\n                [\n                    -74.09264,\n                    40.978552\n                ],\n                [\n                    -74.092574,\n                    40.978512\n                ],\n                [\n                    -74.091939,\n                    40.978186\n                ],\n                [\n                    -74.091867,\n                    40.9781\n                ],\n                [\n                    -74.091854,\n                    40.978035\n                ],\n                [\n                    -74.09186,\n                    40.977919\n                ],\n                [\n                    -74.091868,\n                    40.977879\n                ],\n                [\n                    -74.091909,\n                    40.977796\n                ],\n                [\n                    -74.091942,\n                    40.977749\n                ],\n                [\n                    -74.091963,\n                    40.977729\n                ],\n                [\n                    -74.092022,\n                    40.977673\n                ],\n                [\n                    -74.0921,\n                    40.977639\n                ],\n                [\n                    -74.09213,\n                    40.97762\n                ],\n                [\n                    -74.092196,\n                    40.977601\n                ],\n                [\n                    -74.092219,\n                    40.977581\n                ],\n                [\n                    -74.092257,\n                    40.977581\n                ],\n                [\n                    -74.092356,\n                    40.977597\n                ],\n                [\n                    -74.09241,\n                    40.977572\n                ],\n                [\n                    -74.09245,\n                    40.977531\n                ],\n                [\n                    -74.092464,\n                    40.977436\n                ],\n                [\n                    -74.092439,\n                    40.977342\n                ],\n                [\n                    -74.092399,\n                    40.977194\n                ],\n                [\n                    -74.092373,\n                    40.977142\n                ],\n                [\n                    -74.092341,\n                    40.977078\n                ],\n                [\n                    -74.092295,\n                    40.976967\n                ],\n                [\n                    -74.092217,\n                    40.97684\n                ],\n                [\n                    -74.092044,\n                    40.976776\n                ],\n                [\n                    -74.091987,\n                    40.97673\n                ],\n                [\n                    -74.091932,\n                    40.976685\n                ],\n                [\n                    -74.091887,\n                    40.976544\n                ],\n                [\n                    -74.091867,\n                    40.976524\n                ],\n                [\n                    -74.091854,\n                    40.976459\n                ],\n                [\n                    -74.091822,\n                    40.976412\n                ],\n                [\n                    -74.091804,\n                    40.976368\n                ],\n                [\n                    -74.091737,\n                    40.976151\n                ],\n                [\n                    -74.091704,\n                    40.975943\n                ],\n                [\n                    -74.091673,\n                    40.975701\n                ],\n                [\n                    -74.091628,\n                    40.975588\n                ],\n                [\n                    -74.091561,\n                    40.975345\n                ],\n                [\n                    -74.091537,\n                    40.975213\n                ],\n                [\n                    -74.091529,\n                    40.975172\n                ],\n                [\n                    -74.091529,\n                    40.975152\n                ],\n                [\n                    -74.09153,\n                    40.975068\n                ],\n                [\n                    -74.091541,\n                    40.974964\n                ],\n                [\n                    -74.091612,\n                    40.974783\n                ],\n                [\n                    -74.091762,\n                    40.974533\n                ],\n                [\n                    -74.091866,\n                    40.974395\n                ],\n                [\n                    -74.091936,\n                    40.974257\n                ],\n                [\n                    -74.091949,\n                    40.974118\n                ],\n                [\n                    -74.091898,\n                    40.973984\n                ],\n                [\n                    -74.09188,\n                    40.973903\n                ],\n                [\n                    -74.09186,\n                    40.973884\n                ],\n                [\n                    -74.091838,\n                    40.973616\n                ],\n                [\n                    -74.09184,\n                    40.97346\n                ],\n                [\n                    -74.0919,\n                    40.973244\n                ],\n                [\n                    -74.091981,\n                    40.973054\n                ],\n                [\n                    -74.092154,\n                    40.97276\n                ],\n                [\n                    -74.09218,\n                    40.972751\n                ],\n                [\n                    -74.092182,\n                    40.972724\n                ],\n                [\n                    -74.092202,\n                    40.972699\n                ],\n                [\n                    -74.092249,\n                    40.972638\n                ],\n                [\n                    -74.092328,\n                    40.972534\n                ],\n                [\n                    -74.092325,\n                    40.972515\n                ],\n                [\n                    -74.092358,\n                    40.972495\n                ],\n                [\n                    -74.092432,\n                    40.972398\n                ],\n                [\n                    -74.092647,\n                    40.972198\n                ],\n                [\n                    -74.092773,\n                    40.972147\n                ],\n                [\n                    -74.092848,\n                    40.972117\n                ],\n                [\n                    -74.093283,\n                    40.971963\n                ],\n                [\n                    -74.093443,\n                    40.971885\n                ],\n                [\n                    -74.093616,\n                    40.971801\n                ],\n                [\n                    -74.093942,\n                    40.971616\n                ],\n                [\n                    -74.094178,\n                    40.971492\n                ],\n                [\n                    -74.094327,\n                    40.971389\n                ],\n                [\n                    -74.094407,\n                    40.971316\n                ],\n                [\n                    -74.094505,\n                    40.971225\n                ],\n                [\n                    -74.094598,\n                    40.971104\n                ],\n                [\n                    -74.094688,\n                    40.97094\n                ],\n                [\n                    -74.094746,\n                    40.970867\n                ],\n                [\n                    -74.094826,\n                    40.970794\n                ],\n                [\n                    -74.095017,\n                    40.970604\n                ],\n                [\n                    -74.095166,\n                    40.970532\n                ],\n                [\n                    -74.095282,\n                    40.970487\n                ],\n                [\n                    -74.095601,\n                    40.970365\n                ],\n                [\n                    -74.095733,\n                    40.970309\n                ],\n                [\n                    -74.095883,\n                    40.970261\n                ],\n                [\n                    -74.095972,\n                    40.97021\n                ],\n                [\n                    -74.096272,\n                    40.969992\n                ],\n                [\n                    -74.096386,\n                    40.969887\n                ],\n                [\n                    -74.096505,\n                    40.969777\n                ],\n                [\n                    -74.096521,\n                    40.969756\n                ],\n                [\n                    -74.096582,\n                    40.969681\n                ],\n                [\n                    -74.096696,\n                    40.969535\n                ],\n                [\n                    -74.096746,\n                    40.969277\n                ],\n                [\n                    -74.096772,\n                    40.969203\n                ],\n                [\n                    -74.096797,\n                    40.969129\n                ],\n                [\n                    -74.096826,\n                    40.968913\n                ],\n                [\n                    -74.096832,\n                    40.968865\n                ],\n                [\n                    -74.096817,\n                    40.968645\n                ],\n                [\n                    -74.096875,\n                    40.968497\n                ],\n                [\n                    -74.09694,\n                    40.968391\n                ],\n                [\n                    -74.096962,\n                    40.968354\n                ],\n                [\n                    -74.097026,\n                    40.968195\n                ],\n                [\n                    -74.096998,\n                    40.96803\n                ],\n                [\n                    -74.096903,\n                    40.967799\n                ],\n                [\n                    -74.09683,\n                    40.967624\n                ],\n                [\n                    -74.096757,\n                    40.967509\n                ],\n                [\n                    -74.09673,\n                    40.967468\n                ],\n                [\n                    -74.096698,\n                    40.967442\n                ],\n                [\n                    -74.096683,\n                    40.967426\n                ],\n                [\n                    -74.096598,\n                    40.967207\n                ],\n                [\n                    -74.096566,\n                    40.967043\n                ],\n                [\n                    -74.096575,\n                    40.966922\n                ],\n                [\n                    -74.096611,\n                    40.966707\n                ],\n                [\n                    -74.096619,\n                    40.96668\n                ],\n                [\n                    -74.096654,\n                    40.966554\n                ],\n                [\n                    -74.096661,\n                    40.966526\n                ],\n                [\n                    -74.096733,\n                    40.966378\n                ],\n                [\n                    -74.096911,\n                    40.966214\n                ],\n                [\n                    -74.097015,\n                    40.966007\n                ],\n                [\n                    -74.097041,\n                    40.965721\n                ],\n                [\n                    -74.097055,\n                    40.965367\n                ],\n                [\n                    -74.097041,\n                    40.964973\n                ],\n                [\n                    -74.097009,\n                    40.964687\n                ],\n                [\n                    -74.09701,\n                    40.964657\n                ],\n                [\n                    -74.096955,\n                    40.964341\n                ],\n                [\n                    -74.096934,\n                    40.964254\n                ],\n                [\n                    -74.096872,\n                    40.96415\n                ],\n                [\n                    -74.096787,\n                    40.964072\n                ],\n                [\n                    -74.096656,\n                    40.963984\n                ],\n                [\n                    -74.096389,\n                    40.963871\n                ],\n                [\n                    -74.096164,\n                    40.96382\n                ],\n                [\n                    -74.095908,\n                    40.963767\n                ],\n                [\n                    -74.095595,\n                    40.963709\n                ],\n                [\n                    -74.095376,\n                    40.963658\n                ],\n                [\n                    -74.095195,\n                    40.963605\n                ],\n                [\n                    -74.095106,\n                    40.963575\n                ],\n                [\n                    -74.095084,\n                    40.963568\n                ],\n                [\n                    -74.094662,\n                    40.96336\n                ],\n                [\n                    -74.094465,\n                    40.963244\n                ],\n                [\n                    -74.094255,\n                    40.963062\n                ],\n                [\n                    -74.094167,\n                    40.96299\n                ],\n                [\n                    -74.09416,\n                    40.962984\n                ],\n                [\n                    -74.094068,\n                    40.962905\n                ],\n                [\n                    -74.093898,\n                    40.962777\n                ],\n                [\n                    -74.093861,\n                    40.962762\n                ],\n                [\n                    -74.093848,\n                    40.96274\n                ],\n                [\n                    -74.09382,\n                    40.962719\n                ],\n                [\n                    -74.093809,\n                    40.962606\n                ],\n                [\n                    -74.093874,\n                    40.962417\n                ],\n                [\n                    -74.093886,\n                    40.962382\n                ],\n                [\n                    -74.093958,\n                    40.962287\n                ],\n                [\n                    -74.094036,\n                    40.962183\n                ],\n                [\n                    -74.094138,\n                    40.962061\n                ],\n                [\n                    -74.094167,\n                    40.962049\n                ],\n                [\n                    -74.094238,\n                    40.961935\n                ],\n                [\n                    -74.094232,\n                    40.961888\n                ],\n                [\n                    -74.094233,\n                    40.961795\n                ],\n                [\n                    -74.094225,\n                    40.961746\n                ],\n                [\n                    -74.094211,\n                    40.961656\n                ],\n                [\n                    -74.09426,\n                    40.961604\n                ],\n                [\n                    -74.094465,\n                    40.96138\n                ],\n                [\n                    -74.094546,\n                    40.961216\n                ],\n                [\n                    -74.094591,\n                    40.961093\n                ],\n                [\n                    -74.094698,\n                    40.960797\n                ],\n                [\n                    -74.094702,\n                    40.960771\n                ],\n                [\n                    -74.09472,\n                    40.960653\n                ],\n                [\n                    -74.09479,\n                    40.960531\n                ],\n                [\n                    -74.094826,\n                    40.960471\n                ],\n                [\n                    -74.09485,\n                    40.960427\n                ],\n                [\n                    -74.094887,\n                    40.960375\n                ],\n                [\n                    -74.094913,\n                    40.960353\n                ],\n                [\n                    -74.094997,\n                    40.960239\n                ],\n                [\n                    -74.095033,\n                    40.960135\n                ],\n                [\n                    -74.095034,\n                    40.960027\n                ],\n                [\n                    -74.095024,\n                    40.959795\n                ],\n                [\n                    -74.094991,\n                    40.959659\n                ],\n                [\n                    -74.094984,\n                    40.959613\n                ],\n                [\n                    -74.094975,\n                    40.95957\n                ],\n                [\n                    -74.094954,\n                    40.95936\n                ],\n                [\n                    -74.094969,\n                    40.959267\n                ],\n                [\n                    -74.094992,\n                    40.959224\n                ],\n                [\n                    -74.095072,\n                    40.959172\n                ],\n                [\n                    -74.095129,\n                    40.959147\n                ],\n                [\n                    -74.09521,\n                    40.959086\n                ],\n                [\n                    -74.095229,\n                    40.95906\n                ],\n                [\n                    -74.095279,\n                    40.958992\n                ],\n                [\n                    -74.095311,\n                    40.958898\n                ],\n                [\n                    -74.095326,\n                    40.958853\n                ],\n                [\n                    -74.095443,\n                    40.958802\n                ],\n                [\n                    -74.095521,\n                    40.958768\n                ],\n                [\n                    -74.095612,\n                    40.958742\n                ],\n                [\n                    -74.095762,\n                    40.958631\n                ],\n                [\n                    -74.095798,\n                    40.958537\n                ],\n                [\n                    -74.095795,\n                    40.958501\n                ],\n                [\n                    -74.095823,\n                    40.958493\n                ],\n                [\n                    -74.095878,\n                    40.958432\n                ],\n                [\n                    -74.096313,\n                    40.958218\n                ],\n                [\n                    -74.096458,\n                    40.958115\n                ],\n                [\n                    -74.096566,\n                    40.958037\n                ],\n                [\n                    -74.096675,\n                    40.957973\n                ],\n                [\n                    -74.09715,\n                    40.957645\n                ],\n                [\n                    -74.097367,\n                    40.957502\n                ],\n                [\n                    -74.097642,\n                    40.95727\n                ],\n                [\n                    -74.097662,\n                    40.957258\n                ],\n                [\n                    -74.097868,\n                    40.957135\n                ],\n                [\n                    -74.098006,\n                    40.957012\n                ],\n                [\n                    -74.098034,\n                    40.95697\n                ],\n                [\n                    -74.098182,\n                    40.956875\n                ],\n                [\n                    -74.098259,\n                    40.956818\n                ],\n                [\n                    -74.09843,\n                    40.956662\n                ],\n                [\n                    -74.098496,\n                    40.956632\n                ],\n                [\n                    -74.098596,\n                    40.95657\n                ],\n                [\n                    -74.098783,\n                    40.956378\n                ],\n                [\n                    -74.099003,\n                    40.956137\n                ],\n                [\n                    -74.099137,\n                    40.956026\n                ],\n                [\n                    -74.099515,\n                    40.955689\n                ],\n                [\n                    -74.099767,\n                    40.955447\n                ],\n                [\n                    -74.099983,\n                    40.955272\n                ],\n                [\n                    -74.100064,\n                    40.955323\n                ],\n                [\n                    -74.100212,\n                    40.955417\n                ],\n                [\n                    -74.100535,\n                    40.955587\n                ],\n                [\n                    -74.100917,\n                    40.955758\n                ],\n                [\n                    -74.101235,\n                    40.955919\n                ],\n                [\n                    -74.101528,\n                    40.95605\n                ],\n                [\n                    -74.101954,\n                    40.956269\n                ],\n                [\n                    -74.102647,\n                    40.956558\n                ],\n                [\n                    -74.103489,\n                    40.956952\n                ],\n                [\n                    -74.10383,\n                    40.957161\n                ],\n                [\n                    -74.104102,\n                    40.957379\n                ],\n                [\n                    -74.104447,\n                    40.957713\n                ],\n                [\n                    -74.104643,\n                    40.95784\n                ],\n                [\n                    -74.104806,\n                    40.957969\n                ],\n                [\n                    -74.104894,\n                    40.958031\n                ],\n                [\n                    -74.105069,\n                    40.958213\n                ],\n                [\n                    -74.105225,\n                    40.958385\n                ],\n                [\n                    -74.105383,\n                    40.958559\n                ],\n                [\n                    -74.105525,\n                    40.958737\n                ],\n                [\n                    -74.105614,\n                    40.958906\n                ],\n                [\n                    -74.105699,\n                    40.9591\n                ],\n                [\n                    -74.105738,\n                    40.959188\n                ],\n                [\n                    -74.105754,\n                    40.959305\n                ],\n                [\n                    -74.105784,\n                    40.959433\n                ],\n                [\n                    -74.105781,\n                    40.959646\n                ],\n                [\n                    -74.105797,\n                    40.959821\n                ],\n                [\n                    -74.105852,\n                    40.960003\n                ],\n                [\n                    -74.105869,\n                    40.960077\n                ],\n                [\n                    -74.105959,\n                    40.960314\n                ],\n                [\n                    -74.106003,\n                    40.960483\n                ],\n                [\n                    -74.106013,\n                    40.960656\n                ],\n                [\n                    -74.106044,\n                    40.960993\n                ],\n                [\n                    -74.106086,\n                    40.961453\n                ],\n                [\n                    -74.106062,\n                    40.961608\n                ],\n                [\n                    -74.10605,\n                    40.961833\n                ],\n                [\n                    -74.106029,\n                    40.961951\n                ],\n                [\n                    -74.106013,\n                    40.962045\n                ],\n                [\n                    -74.106038,\n                    40.96216\n                ],\n                [\n                    -74.10599,\n                    40.962437\n                ],\n                [\n                    -74.105931,\n                    40.962644\n                ],\n                [\n                    -74.105838,\n                    40.962834\n                ],\n                [\n                    -74.105847,\n                    40.962955\n                ],\n                [\n                    -74.105864,\n                    40.963129\n                ],\n                [\n                    -74.105906,\n                    40.963238\n                ],\n                [\n                    -74.10601,\n                    40.963349\n                ],\n                [\n                    -74.106079,\n                    40.963422\n                ],\n                [\n                    -74.106405,\n                    40.963675\n                ],\n                [\n                    -74.106417,\n                    40.9637\n                ],\n                [\n                    -74.106442,\n                    40.963751\n                ],\n                [\n                    -74.106398,\n                    40.963927\n                ],\n                [\n                    -74.106333,\n                    40.964065\n                ],\n                [\n                    -74.106244,\n                    40.964208\n                ],\n                [\n                    -74.106232,\n                    40.964229\n                ],\n                [\n                    -74.106232,\n                    40.964312\n                ],\n                [\n                    -74.106283,\n                    40.964378\n                ],\n                [\n                    -74.106339,\n                    40.964438\n                ],\n                [\n                    -74.106398,\n                    40.964521\n                ],\n                [\n                    -74.106644,\n                    40.964722\n                ],\n                [\n                    -74.106834,\n                    40.964813\n                ],\n                [\n                    -74.106959,\n                    40.964866\n                ],\n                [\n                    -74.107132,\n                    40.964887\n                ],\n                [\n                    -74.107255,\n                    40.964871\n                ],\n                [\n                    -74.107307,\n                    40.964868\n                ],\n                [\n                    -74.107349,\n                    40.964865\n                ],\n                [\n                    -74.107473,\n                    40.964925\n                ],\n                [\n                    -74.107553,\n                    40.964997\n                ],\n                [\n                    -74.10772,\n                    40.965101\n                ],\n                [\n                    -74.107959,\n                    40.965183\n                ],\n                [\n                    -74.108322,\n                    40.965292\n                ],\n                [\n                    -74.108467,\n                    40.965396\n                ],\n                [\n                    -74.108478,\n                    40.965421\n                ],\n                [\n                    -74.108569,\n                    40.965627\n                ],\n                [\n                    -74.108642,\n                    40.96583\n                ],\n                [\n                    -74.108838,\n                    40.966109\n                ],\n                [\n                    -74.108897,\n                    40.966135\n                ],\n                [\n                    -74.109246,\n                    40.966219\n                ],\n                [\n                    -74.10934,\n                    40.966273\n                ],\n                [\n                    -74.109419,\n                    40.96631\n                ],\n                [\n                    -74.109588,\n                    40.966438\n                ],\n                [\n                    -74.109644,\n                    40.966492\n                ],\n                [\n                    -74.109667,\n                    40.966547\n                ],\n                [\n                    -74.109703,\n                    40.966763\n                ],\n                [\n                    -74.10971,\n                    40.966844\n                ],\n                [\n                    -74.109711,\n                    40.966943\n                ],\n                [\n                    -74.10969,\n                    40.967069\n                ],\n                [\n                    -74.109681,\n                    40.967195\n                ],\n                [\n                    -74.109687,\n                    40.967348\n                ],\n                [\n                    -74.10968,\n                    40.967411\n                ],\n                [\n                    -74.109952,\n                    40.967366\n                ],\n                [\n                    -74.110046,\n                    40.967353\n                ],\n                [\n                    -74.110193,\n                    40.967348\n                ],\n                [\n                    -74.111759,\n                    40.967299\n                ],\n                [\n                    -74.113124,\n                    40.967276\n                ],\n                [\n                    -74.11404,\n                    40.967261\n                ],\n                [\n                    -74.114415,\n                    40.968144\n                ],\n                [\n                    -74.115179,\n                    40.969933\n                ],\n                [\n                    -74.115364,\n                    40.970368\n                ],\n                [\n                    -74.117104,\n                    40.970069\n                ],\n                [\n                    -74.118704,\n                    40.969907\n                ],\n                [\n                    -74.118661,\n                    40.969785\n                ],\n                [\n                    -74.11911,\n                    40.96988\n                ],\n                [\n                    -74.118922,\n                    40.970091\n                ],\n                [\n                    -74.117684,\n                    40.971424\n                ],\n                [\n                    -74.117637,\n                    40.971474\n                ],\n                [\n                    -74.120326,\n                    40.970969\n                ],\n                [\n                    -74.120383,\n                    40.971103\n                ],\n                [\n                    -74.120394,\n                    40.971128\n                ],\n                [\n                    -74.120603,\n                    40.971619\n                ],\n                [\n                    -74.121048,\n                    40.972691\n                ],\n                [\n                    -74.121078,\n                    40.972763\n                ],\n                [\n                    -74.122111,\n                    40.972397\n                ],\n                [\n                    -74.122238,\n                    40.972723\n                ],\n                [\n                    -74.122756,\n                    40.972591\n                ],\n                [\n                    -74.123834,\n                    40.972316\n                ],\n                [\n                    -74.124434,\n                    40.972022\n                ],\n                [\n                    -74.124699,\n                    40.971998\n                ],\n                [\n                    -74.125269,\n                    40.971947\n                ],\n                [\n                    -74.126093,\n                    40.972139\n                ],\n                [\n                    -74.126944,\n                    40.972202\n                ],\n                [\n                    -74.128248,\n                    40.972298\n                ],\n                [\n                    -74.130295,\n                    40.97245\n                ],\n                [\n                    -74.131414,\n                    40.972388\n                ],\n                [\n                    -74.131868,\n                    40.972364\n                ],\n                [\n                    -74.132392,\n                    40.972493\n                ],\n                [\n                    -74.132763,\n                    40.972584\n                ],\n                [\n                    -74.133546,\n                    40.972503\n                ],\n                [\n                    -74.136097,\n                    40.972517\n                ],\n                [\n                    -74.136203,\n                    40.972385\n                ],\n                [\n                    -74.136292,\n                    40.972275\n                ],\n                [\n                    -74.136813,\n                    40.971628\n                ],\n                [\n                    -74.137564,\n                    40.97069\n                ],\n                [\n                    -74.138307,\n                    40.969739\n                ],\n                [\n                    -74.138387,\n                    40.969635\n                ],\n                [\n                    -74.138513,\n                    40.96947\n                ],\n                [\n                    -74.138808,\n                    40.969066\n                ],\n                [\n                    -74.139079,\n                    40.968693\n                ],\n                [\n                    -74.139769,\n                    40.96774\n                ],\n                [\n                    -74.140179,\n                    40.967334\n                ],\n                [\n                    -74.140618,\n                    40.9669\n                ]\n            ]\n        ]\n    }\n}",
        "output": "json",
        "x": 670,
        "y": 220,
        "wires": [
            [
                "67c68f9c.2aea4"
            ]
        ]
    },
    {
        "id": "5eb9476f.9aad1",
        "type": "ui_switch",
        "z": "8e729cef.5b4d",
        "name": "",
        "label": "Show Ridgewood",
        "tooltip": "",
        "group": "5bc01b3a.925fbc",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "fa-building",
        "oncolor": "maroon",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "fa-building",
        "offcolor": "grey",
        "x": 210,
        "y": 240,
        "wires": [
            [
                "8fe31a3c.1b03d"
            ]
        ]
    },
    {
        "id": "8fe31a3c.1b03d",
        "type": "switch",
        "z": "8e729cef.5b4d",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 450,
        "y": 240,
        "wires": [
            [
                "36b39f31.4c3328"
            ],
            [
                "e25363c5.d50478"
            ]
        ]
    },
    {
        "id": "db4eab71.88fe88",
        "type": "ui_switch",
        "z": "8e729cef.5b4d",
        "name": "",
        "label": "Show Hohokus Brook Water Basin",
        "tooltip": "",
        "group": "5bc01b3a.925fbc",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "fa-tint",
        "oncolor": "blue",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "fa-tint",
        "offcolor": "grey",
        "x": 240,
        "y": 420,
        "wires": [
            [
                "75f616f8.bf842"
            ]
        ]
    },
    {
        "id": "665920bc.1439f",
        "type": "ui_switch",
        "z": "8e729cef.5b4d",
        "name": "",
        "label": "Show Saddle River Water Basin",
        "tooltip": "",
        "group": "5bc01b3a.925fbc",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "fa-tint",
        "oncolor": "aqua",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "fa-tint",
        "offcolor": "grey",
        "x": 230,
        "y": 600,
        "wires": [
            [
                "417ac09e.bc2ef"
            ]
        ]
    },
    {
        "id": "417ac09e.bc2ef",
        "type": "switch",
        "z": "8e729cef.5b4d",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 450,
        "y": 600,
        "wires": [
            [
                "b66f1f59.8af1a",
                "308620a0.35a328"
            ],
            [
                "e9179c24.dcde18"
            ]
        ]
    },
    {
        "id": "75f616f8.bf842",
        "type": "switch",
        "z": "8e729cef.5b4d",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 450,
        "y": 420,
        "wires": [
            [
                "c8bea8b0.eb5948",
                "bdf69ee4.c59ab"
            ],
            [
                "ea0bf8cd.831af"
            ]
        ]
    },
    {
        "id": "e25363c5.d50478",
        "type": "change",
        "z": "8e729cef.5b4d",
        "name": "Hide Ridgewood Map",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"command\":{\"hidelayer\":\"Ridgewood\"}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 980,
        "y": 260,
        "wires": [
            [
                "a9107aad.d115b"
            ]
        ]
    },
    {
        "id": "ea0bf8cd.831af",
        "type": "change",
        "z": "8e729cef.5b4d",
        "name": "Hide Hohokus Water Basin",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"command\":{\"hidelayer\":[\"HohokusWaterBasin\",\"HohokusBrook\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1000,
        "y": 440,
        "wires": [
            [
                "a9107aad.d115b"
            ]
        ]
    },
    {
        "id": "e9179c24.dcde18",
        "type": "change",
        "z": "8e729cef.5b4d",
        "name": "Hide Saddle River Water Basin",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"command\":{\"hidelayer\":[\"SaddleRiverWaterBasin\",\"SaddleRiver\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1010,
        "y": 620,
        "wires": [
            [
                "a9107aad.d115b"
            ]
        ]
    },
    {
        "id": "618879f6.171c3",
        "type": "inject",
        "z": "8e729cef.5b4d",
        "name": "",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 110,
        "y": 140,
        "wires": [
            [
                "5eb9476f.9aad1",
                "db4eab71.88fe88",
                "665920bc.1439f"
            ]
        ]
    },
    {
        "id": "67c68f9c.2aea4",
        "type": "function",
        "z": "8e729cef.5b4d",
        "name": "Draw Ridgewood Map",
        "func": "// Add some simple-spec styling to this polygon area\nvar properties = { \n    \"stroke\" : \"maroon\",\n    \"stroke-width\": 5,\n    \"fill\": \"maroon\",\n    \"fill-opacity\": 0.4\n}\nmsg.payload.properties = properties;\n\nmsg.payload = { name: \"Ridgewood\",\n                layer:\"Ridgewood\",\n                geojson:msg.payload\n              };    \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 980,
        "y": 220,
        "wires": [
            [
                "ce5cbe87.79d62",
                "a9107aad.d115b"
            ]
        ]
    },
    {
        "id": "990674f.1a48788",
        "type": "function",
        "z": "8e729cef.5b4d",
        "name": "Draw Water Basin map",
        "func": "// Add some simple-spec styling to this polygon area\nvar properties = { \n    \"stroke\" : \"blue\",\n    \"stroke-width\": 5,\n    \"fill\": \"#0000FF\",\n    \"fill-opacity\": 0.4\n}\nmsg.payload.features[0].properties = properties;\n\nmsg.payload = { name: \"HohokusWaterBasin\",\n                layer:\"HohokusWaterBasin\",\n                geojson:msg.payload\n              };    \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 980,
        "y": 400,
        "wires": [
            [
                "a9107aad.d115b",
                "fc3fd199.35ab3"
            ]
        ]
    },
    {
        "id": "6fb29f61.f0347",
        "type": "change",
        "z": "8e729cef.5b4d",
        "name": "Draw Hohokus Brook",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "payload.geojson",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.layer",
                "pt": "msg",
                "to": "HohokusBrook",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.name",
                "pt": "msg",
                "to": "HohokusBrook",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.color",
                "pt": "msg",
                "to": "steelblue",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.weight",
                "pt": "msg",
                "to": "3",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 980,
        "y": 360,
        "wires": [
            [
                "a9107aad.d115b"
            ]
        ]
    },
    {
        "id": "bdf69ee4.c59ab",
        "type": "http request",
        "z": "8e729cef.5b4d",
        "name": "USGS Hohokus Brook",
        "method": "GET",
        "ret": "obj",
        "paytoqs": false,
        "url": "https://labs.waterdata.usgs.gov/api/nldi/linked-data/nwissite/USGS-01391000/navigate/UT",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 640,
        "y": 360,
        "wires": [
            [
                "6fb29f61.f0347"
            ]
        ]
    },
    {
        "id": "9f2d32c9.3d8af8",
        "type": "change",
        "z": "8e729cef.5b4d",
        "name": "Draw Saddle River",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "payload.geojson",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.layer",
                "pt": "msg",
                "to": "SaddleRiver",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.name",
                "pt": "msg",
                "to": "SaddleRiver",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.color",
                "pt": "msg",
                "to": "steelblue",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.weight",
                "pt": "msg",
                "to": "3",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 970,
        "y": 540,
        "wires": [
            [
                "a9107aad.d115b"
            ]
        ]
    },
    {
        "id": "308620a0.35a328",
        "type": "http request",
        "z": "8e729cef.5b4d",
        "name": "USGS Saddle River",
        "method": "GET",
        "ret": "obj",
        "paytoqs": false,
        "url": "https://labs.waterdata.usgs.gov/api/nldi/linked-data/nwissite/USGS-01391102/navigate/UT",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 640,
        "y": 540,
        "wires": [
            [
                "9f2d32c9.3d8af8"
            ]
        ]
    },
    {
        "id": "ab902ff2.1ef0b8",
        "type": "ui_form",
        "z": "8e729cef.5b4d",
        "name": "",
        "label": "ZipCode - Water Quality Report",
        "group": "5bc01b3a.925fbc",
        "order": 4,
        "width": "6",
        "height": "7",
        "options": [
            {
                "label": "Enter a ZipCode",
                "value": "ZipCode",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "ZipCode": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "",
        "x": 230,
        "y": 740,
        "wires": [
            [
                "48a62438.f42494",
                "3977c406.d16cb4"
            ]
        ]
    },
    {
        "id": "89b269ea.410c38",
        "type": "http request",
        "z": "8e729cef.5b4d",
        "name": "GetWaterScore",
        "method": "POST",
        "ret": "obj",
        "paytoqs": false,
        "url": "https://aquagenuity.com/GetWaterScore",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 740,
        "y": 760,
        "wires": [
            [
                "d83f5f37.856578",
                "6699b45c.9c4aa4",
                "81eca2ad.8f1a48"
            ]
        ]
    },
    {
        "id": "d83f5f37.856578",
        "type": "debug",
        "z": "8e729cef.5b4d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 930,
        "y": 800,
        "wires": []
    },
    {
        "id": "48a62438.f42494",
        "type": "function",
        "z": "8e729cef.5b4d",
        "name": "Aquagenuity params",
        "func": "msg.payload = {\"auth\":{\"username\":\"removed\",\n                       \"password\":\"removed\"},\n               \"zipcode\":msg.payload.ZipCode} ;\nmsg.headers = {};\nmsg.headers['Content-Type'] = 'application/json';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 520,
        "y": 760,
        "wires": [
            [
                "89b269ea.410c38"
            ]
        ]
    },
    {
        "id": "d29f8c5c.d17248",
        "type": "ui_table",
        "z": "8e729cef.5b4d",
        "group": "aa67a8ec.6e28e",
        "name": "Contaminants",
        "order": 4,
        "width": "11",
        "height": "15",
        "columns": [
            {
                "field": "toxin_type_name",
                "title": "Toxin",
                "width": "20%",
                "align": "left",
                "formatter": "html",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "sample_amount",
                "title": "Sample",
                "width": "15%",
                "align": "left",
                "formatter": "html",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "toxin_limit_value",
                "title": "EPA Limit",
                "width": "20%",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "toxin_limit_unit",
                "title": "Toxin Units",
                "width": "10%",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "health_risk_type_description",
                "title": "Health Risk",
                "width": "35%",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 1,
        "cts": true,
        "x": 1200,
        "y": 760,
        "wires": [
            [
                "3d0a187e.64c61"
            ]
        ]
    },
    {
        "id": "66002cfd.eebd84",
        "type": "inject",
        "z": "8e729cef.5b4d",
        "name": "",
        "topic": "",
        "payload": "{\"ZipCode\":\"07450\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 270,
        "y": 780,
        "wires": [
            [
                "48a62438.f42494"
            ]
        ]
    },
    {
        "id": "6699b45c.9c4aa4",
        "type": "change",
        "z": "8e729cef.5b4d",
        "name": "WaterScore",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.waterscore[0]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.name",
                "pt": "msg",
                "to": "Water Report",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.lat",
                "pt": "msg",
                "to": "40.979671",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.lon",
                "pt": "msg",
                "to": "-74.119179",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.icon",
                "pt": "msg",
                "to": "fa-tint",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.iconColor",
                "pt": "msg",
                "to": "blue",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 950,
        "y": 720,
        "wires": [
            [
                "a9107aad.d115b",
                "e4b6a03e.0f4db8"
            ]
        ]
    },
    {
        "id": "81eca2ad.8f1a48",
        "type": "function",
        "z": "8e729cef.5b4d",
        "name": "Contaminants",
        "func": "var toxins = msg.payload.contaminantDetails;\n\n// Highlight toxins that exceed EPA limits\nfor( var i=0; i < toxins.length; i++) {\n    if( parseFloat(toxins[i].sample_amount) > parseFloat(toxins[i].toxin_limit_value) ) {\n        toxins[i].toxin_type_name = \"<font color='red'><b>\"+toxins[i].toxin_type_name+\"</b></font>\";\n        toxins[i].sample_amount = \"<font color='red'><b>\"+toxins[i].sample_amount+\"</b></font>\";\n    }\n}\nmsg.payload = toxins;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 960,
        "y": 760,
        "wires": [
            [
                "d29f8c5c.d17248"
            ]
        ]
    },
    {
        "id": "e4b6a03e.0f4db8",
        "type": "debug",
        "z": "8e729cef.5b4d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1190,
        "y": 720,
        "wires": []
    },
    {
        "id": "3d0a187e.64c61",
        "type": "change",
        "z": "8e729cef.5b4d",
        "name": "Health Risk details",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.health_risk_type_description",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Health Risk",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1210,
        "y": 800,
        "wires": [
            [
                "bba970b5.83a218"
            ]
        ]
    },
    {
        "id": "bba970b5.83a218",
        "type": "ui_toast",
        "z": "8e729cef.5b4d",
        "position": "dialog",
        "displayTime": "10",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "",
        "name": "",
        "x": 1190,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "3977c406.d16cb4",
        "type": "change",
        "z": "8e729cef.5b4d",
        "name": "Reset Water Report",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"name\":\"Water Report\",\"deleted\":true}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 970,
        "y": 680,
        "wires": [
            [
                "a9107aad.d115b"
            ]
        ]
    },
    {
        "id": "5374b8e7.f534b8",
        "type": "inject",
        "z": "8e729cef.5b4d",
        "name": "Manual Table Reset",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 270,
        "y": 700,
        "wires": [
            [
                "3977c406.d16cb4"
            ]
        ]
    },
    {
        "id": "19e544ea.0f2ce3",
        "type": "comment",
        "z": "8e729cef.5b4d",
        "name": "https://www.nj.gov/dep/srp/community/sites/",
        "info": "The state of New Jersey has its own list of known contaminated sites identifying more than 14,100 properties that likely includes the landfill, junkyard, corner gas station or former dry cleaners in your town.\n\nRead More: Polluted New Jersey: The most toxic sites in your neighborhood https://nj1015.com/polluted-new-jersey-the-most-toxic-sites-in-your-neighborhood",
        "x": 290,
        "y": 920,
        "wires": []
    },
    {
        "id": "f56655c4.a61c68",
        "type": "ui_group",
        "z": "8e729cef.5b4d",
        "name": "Ridgewood and Water Basins",
        "tab": "5a14114e.8b1e58",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "5bc01b3a.925fbc",
        "type": "ui_group",
        "z": "",
        "name": "Show Maps",
        "tab": "5a14114e.8b1e58",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "aa67a8ec.6e28e",
        "type": "ui_group",
        "z": "",
        "name": "Contaminants",
        "tab": "5a14114e.8b1e58",
        "order": 3,
        "disp": true,
        "width": "11",
        "collapse": false
    },
    {
        "id": "5a14114e.8b1e58",
        "type": "ui_tab",
        "z": "8e729cef.5b4d",
        "name": "Ridgewood Water Basin",
        "icon": "fa-tint",
        "order": 10,
        "disabled": false,
        "hidden": false
    }
]
